.section .introduction {
  font-weight: 300;
}

.section .showing-list .state, .section .movie-item .book-btn, .section .tickets-package .package-content .ticket-set .table-td div {
  font-weight: 400;
}

.section .movie-item .list-item > div, .section .booking-history .ticket-no, .section .account label, .section .account .actionbtn button span, .section .booking .weektable .booktime, .section .tickets-package .package-content .ticket-set .type, .section .tickets-package .package-content .ticket-sheet span, .section .tickets-package .row-right .note {
  font-weight: 600;
}

.landing {
  width: 100%;
  z-index: 99999;
  position: fixed;
}
.landing .landing-page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing h1 {
  color: #fff;
  font-size: 8rem;
  text-align: right;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1.3;
  margin: 0 auto;
  overflow-y: hidden;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing h1 {
    font-size: 6rem;
  }
}
@media all and (max-width: 768px) {
  .landing h1 {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}
@media all and (max-width: 320px) {
  .landing h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.landing h1 .block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  -webkit-animation: revealBlock 0s var(--t) forwards;
          animation: revealBlock 0s var(--t) forwards;
}
.landing h1 .block-reveal::after {
  content: "";
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 1px;
  background: var(--bc);
  -webkit-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
          animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}
.landing .welcome {
  width: 224px;
  height: 224px;
  cursor: pointer;
  position: absolute;
  bottom: 13vh;
  left: 13vw;
  opacity: 0;
  -webkit-animation: opacity 1s linear 1.8s;
          animation: opacity 1s linear 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome {
    width: 180px;
    height: 180px;
    bottom: 8vh;
    left: 9vw;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome {
    display: none;
  }
}
.landing .welcome .text-round {
  width: 100%;
  height: 100%;
  background: url(../image/svg/welcome-round.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}
.landing .welcome .mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 53px;
  background: url(../image/svg/mouse.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome .mouse {
    width: 29px;
    height: 48px;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome .mouse {
    width: 26px;
    height: 45px;
  }
}
.landing .welcome .mouse .scroller {
  width: 5px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 25%;
  position: absolute;
  top: 13px;
  left: 15px;
  -webkit-animation: scroll 1.3s ease-in infinite;
          animation: scroll 1.3s ease-in infinite;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome .mouse .scroller {
    left: 12px;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome .mouse .scroller {
    left: 11px;
  }
}

.section .showing-list {
  text-align: center;
  position: relative;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .showing-list {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .showing-list {
    margin-bottom: 20px;
  }
}
.section .showing-list a {
  display: block;
  padding: 0 5px;
}
@media all and (max-width: 320px) {
  .section .showing-list a > div {
    padding-right: 0;
  }
}
.section .showing-list .poster img {
  border-radius: 10px;
  width: 100%;
}
.section .showing-list .movie-level {
  margin-right: 10px;
}
.section .showing-list .state {
  position: absolute;
  top: 15px;
  left: 5px;
  padding: 5px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.section .showing-list .state.recommand {
  background-color: #73C044;
  background-color: rgba(115, 192, 68, 0.8);
}
.section .showing-list .state.newin {
  background-color: #DD362B;
  background-color: rgba(221, 54, 43, 0.8);
}
.section .showing-list .state.hottest {
  background-color: #FCC900;
  background-color: rgba(252, 201, 0, 0.8);
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .onlinebook {
    margin-bottom: 40px;
  }
}
@media all and (max-width: 768px) {
  .section .onlinebook {
    margin-bottom: 40px;
  }
}
.section .onlinebook .select-box {
  padding-right: 2vw;
}
.section .onlinebook .select-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.section .onlinebook .select-box .material-icons {
  color: #C53932;
  font-size: 2.5rem;
}
.section .onlinebook .select-box select {
  width: 100%;
  height: 60px;
  margin-left: 10px;
}
@media all and (max-width: 768px) {
  .section .onlinebook .select-box {
    padding-right: 0;
  }
}
.section .lastestnew .news-box {
  width: 100%;
}
.section .lastestnew .news-box a {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .section .lastestnew .news-box a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section .lastestnew .news-box img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section .lastestnew .news-box .new-info {
  width: 50%;
  margin-left: 20px;
  padding-right: 15px;
  text-align: left;
}
@media all and (max-width: 768px) {
  .section .lastestnew .news-box .new-info {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
  }
}
.section .lastestnew .news-box .sub-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section .movie-item img {
  width: 100%;
}
.section .movie-item .up-date {
  margin: 5px 0 30px 0;
  color: #C53932;
}
.section .movie-item .movie-level {
  margin-top: 0;
}
.section .movie-item .book-btn {
  display: inline-block;
  padding: 8px 25px;
  background-color: #5a98c0;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
}
.section .movie-item .book-btn .material-icons {
  margin-right: 10px;
}
.section .movie-item .list-item > div {
  margin-bottom: 10px;
}
.section .movie-item .list-item > div:last-of-type {
  margin-bottom: 0;
}
.section .movie-item .list-item > div span {
  font-weight: normal;
  border-left: 1px solid #fff;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
}
.section .movie-item .list-item .list-row {
  width: 100%;
  display: -webkit-inline-box;
}
.section .movie-item .list-item .list-row div {
  max-width: 95%;
}
.section .movie-info .movie-item:first-of-type {
  padding-right: 2vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .movie-info .movie-item:first-of-type {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .movie-info .movie-item:first-of-type {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .movie-info .row-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media all and (max-width: 768px) {
  .section .movie-info .row-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.section .introduction {
  line-height: 1.8;
}
.section .trailer {
  background-color: rgba(73, 73, 73, 0.596);
  padding: 2rem;
  text-align: center;
  margin-top: 50px;
}
@media all and (max-width: 768px) {
  .section .trailer {
    padding: 10px;
  }
}
.section .booking-history .actions-btn {
  width: 12em;
}
.section .booking-history .item {
  border-top: 1px solid #818181;
  padding: 40px 2em 0 2em;
  margin-bottom: 40px;
}
@media all and (max-width: 1200px) {
  .section .booking-history .item {
    padding: 20px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking-history .row-left {
    margin-bottom: 40px;
  }
}
@media all and (max-width: 768px) {
  .section .booking-history .row-left {
    margin-bottom: 40px;
  }
}
.section .booking-history .row-left img {
  width: 100%;
}
.section .booking-history .row-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 20px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking-history .row-right {
    padding-left: 0px;
  }
}
@media all and (max-width: 768px) {
  .section .booking-history .row-right {
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section .booking-history .ticket-no {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #73C044;
  padding: 5px 15px;
}
.section .booking-history .ticket-no span {
  margin-left: 5px;
}
.section .booking-history .movie-title {
  width: 80%;
  margin: 15px 0;
}
@media all and (max-width: 768px) {
  .section .booking-history .movie-title {
    width: 100%;
    text-align: center;
  }
}
.section .booking-history .movie-title p {
  color: #00ABF2;
  line-height: 1.3;
}
.section .booking-history .movie-title span {
  color: #fff;
}
.section .booking-history .booking-list {
  width: 80%;
}
@media all and (max-width: 768px) {
  .section .booking-history .booking-list {
    width: 100%;
  }
}
.section .booking-history .booking-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.section .booking-history .booking-list .list:last-of-type {
  margin-bottom: 0;
}
.section .booking-history .booking-list .list label {
  width: 90px;
  min-width: 90px;
  color: #818181;
}
.section .booking-history .ticket-state {
  position: absolute;
  right: 0;
}
@media all and (max-width: 768px) {
  .section .booking-history .ticket-state {
    position: static;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.section .booking-history .ticket-state .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #fff;
  padding: 5px 25px;
  border-radius: 3px;
}
@media all and (max-width: 768px) {
  .section .booking-history .ticket-state .state {
    width: 130px;
    margin-right: 10px;
  }
}
.section .booking-history .ticket-state .state.paid {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
}
.section .booking-history .ticket-state .state.getQR {
  background-color: #00ABF2;
}
.section .booking-history .ticket-state .state.refund {
  border: 1px solid #C53932;
}
.section .booking-history .ticket-state .state .material-icons {
  margin-left: 3px;
}
.section .news .event {
  margin-bottom: 40px;
}
@media all and (max-width: 768px) {
  .section .news .event {
    padding: 0;
  }
}
.section .news .event a {
  display: block;
  padding: 0 5px;
}
.section .news .event .sub-title {
  margin-top: 15px;
  margin-bottom: 0;
}
.section .news .event img {
  width: 100%;
  border-radius: 5px;
}
.section .news-info .actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .news-info .actions .actions-btn {
  margin-right: 20px;
}
.section .news-info .actions .back {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #FCC900;
  padding: 10px 30px;
}
.section .news-info .row-left {
  padding-right: 40px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .news-info .row-left {
    padding-right: 0px;
  }
}
@media all and (max-width: 768px) {
  .section .news-info .row-left {
    padding-right: 0px;
  }
}
.section .news-info .row-left img {
  border-radius: 5px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .news-info .sub-title {
    margin-top: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .news-info .sub-title {
    margin-top: 20px;
  }
}
.section .news-info .hr-line {
  width: 100px;
}
.section .news-info .new-content p {
  margin-bottom: 20px;
}
.section .account label {
  display: block;
  color: #00ABF2;
  margin: 0 0 4px 0;
}
.section .account .row-left {
  padding-right: 15px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .account .row-left {
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .section .account .row-left {
    padding-right: 0;
  }
}
.section .account .row-right {
  padding-left: 15px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .account .row-right {
    padding-left: 0;
  }
}
@media all and (max-width: 768px) {
  .section .account .row-right {
    padding-left: 0;
  }
}
.section .account .actionbtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 82px;
  max-height: 82px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 768px) {
  .section .account .actionbtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .section .account .actionbtn:last-of-type {
    margin-top: 15px;
  }
}
.section .account .actionbtn button {
  font-weight: normal;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  color: #000;
  height: 50px;
  padding: 10px 0;
  background-color: #00ABF2;
}
@media all and (max-width: 768px) {
  .section .account .actionbtn button {
    margin-bottom: 15px;
  }
}
.section .account .actionbtn button[type=submit] {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  background-color: #D26759;
}
.section .account .actionbtn div {
  font-weight: normal;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  background-color: #73C044;
  color: #fff;
  height: 50px;
  padding: 10px 0;
}
.section .account .actionbtn.fit-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .account .actionbtn.fit-center button {
  padding: 10px 30px;
}
.section .account .actionbtn.fit-center button[type=submit] {
  -ms-flex-preferred-size: fit-content;
      flex-basis: fit-content;
}
.section .account select {
  color: #fff;
}
.section .account select:invalid {
  color: rgba(255, 255, 255, 0.452);
}
.section .account select option[value=none] {
  color: rgba(255, 255, 255, 0.452);
}
.section .booking .content-row {
  margin-bottom: 80px;
}
.section .booking .row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .row-left {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
@media all and (max-width: 768px) {
  .section .booking .row-left {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.section .booking .movie-item:first-of-type {
  padding-right: 20px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .movie-item:first-of-type {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .booking .movie-item:first-of-type {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.section .booking .movie-title p {
  color: #00ABF2;
}
.section .booking .movie-title span {
  color: #fff;
  word-break: break-word;
}
.section .booking .up-date {
  color: #fff;
}
.section .booking .list-row {
  max-width: 85%;
}
.section .booking .weektable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section .booking .weektable .booktime {
  cursor: pointer;
}
.section .booking .weektable .booktime span {
  font-weight: normal;
  display: block;
}
.section .booking .weektable .booktime.active {
  color: #FCC900;
}
.section .booking .cinema {
  position: relative;
  margin: 20px 0;
}
.section .booking .cinema::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 70%;
  background-color: #818181;
  position: absolute;
  right: 0;
  top: 20px;
}
.section .booking .cinema .material-icons {
  font-size: 3rem;
  vertical-align: middle;
  margin-right: 10px;
}
.section .booking .timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section .booking .timetable .time {
  width: 20%;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .timetable .time {
    width: 16.6%;
  }
}
@media all and (max-width: 768px) {
  .section .booking .timetable .time {
    width: 33.33%;
  }
}
.section .booking .timetable .time a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
}
.section .booking .timetable .time.active a {
  color: #000;
  border: 1px solid #FCC900;
  background-color: #FCC900;
}
.section .booking .timetable .time.disable a {
  cursor: not-allowed;
  pointer-events: none;
  color: #818181;
  border: 1px solid #818181;
}
.section .book-tickets .row-left {
  padding-right: 2vw;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-left {
    padding-right: 0;
    margin: 0 auto 2vw auto;
  }
}
.section .book-tickets .row-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-min {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
}
.section .book-tickets .row-min .movie-item {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-item {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-item .movie-title {
  margin-top: 0;
  width: 80%;
}
.section .book-tickets .row-min .movie-item .movie-level {
  width: 80px;
  margin-bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
}
.section .book-tickets .row-min .movie-detail .material-icons {
  font-size: 2rem;
  margin-right: 10px;
  color: #DD362B;
}
.section .book-tickets .row-min .movie-detail .detail {
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-detail .detail {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-detail .detail.mb-0 {
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-detail .detail.mb-0 {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-detail .detail.disable {
  color: #818181;
}
.section .book-tickets .row-min .movie-detail .detail.disable .material-icons {
  color: inherit;
}
.section .book-tickets .row-min .movie-detail .start-time {
  padding: 2px 5px;
  border: 1px solid #818181;
  border-radius: 3px;
  margin-right: 4px;
}
.section .book-tickets .row-right {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.247);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 3px dashed rgba(255, 255, 255, 0.062);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-right {
    border-radius: 10px;
    border-left: none;
    margin-top: 2vw;
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-right {
    border-radius: 10px;
    border-left: none;
    margin-top: 2vw;
    padding: 20px;
  }
}
.section .book-tickets .row-right .summary {
  color: #A18978;
  text-align: right;
  letter-spacing: 0px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-right .summary {
    text-align: left;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-right .summary {
    text-align: left;
  }
}
.section .book-tickets .row-right .summary .material-icons {
  font-size: 2rem;
  margin-right: 10px;
}
.section .book-tickets .row-right .summary-detail {
  height: 100%;
  padding: 10px 0;
}
.section .book-tickets .row-right .summary-detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.section .book-tickets .row-right .summary-detail .ticket-name {
  width: 100%;
}
.section .book-tickets .row-right .summary-detail .ticket-number {
  width: 80px;
  text-align: right;
  margin-right: 5px;
}
.section .book-tickets .row-right .summary-detail .ticket-sum {
  width: 50%;
  text-align: right;
  margin-left: 5px;
}
.section .book-tickets .row-right .summary-total {
  background-color: rgba(129, 129, 129, 0.3254901961);
  padding: 5px 10px;
}
.section .book-tickets .row-right .summary-total li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section .book-tickets .row-right .summary-total .ticket-name {
  width: 100%;
}
.section .book-tickets .row-right .summary-total .ticket-sum {
  width: 40%;
  text-align: right;
  margin-left: 5px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-5 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-5 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-3 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-3 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
.section .tickets-package .row-left {
  padding-right: 2vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .tickets-package .row-left {
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .section .tickets-package .row-left {
    padding-right: 0;
  }
}
.section .tickets-package .package {
  margin-bottom: 30px;
  overflow-x: auto;
  width: 100%;
}
@media all and (max-width: 768px) {
  .section .tickets-package .table {
    max-width: 800px;
    width: 800px;
  }
}
.section .tickets-package .main-title div:nth-of-type(1)::before {
  background-color: #00ABF2;
}
.section .tickets-package .main-title div:nth-of-type(2) {
  color: #00ABF2;
}
@media all and (max-width: 768px) {
  .section .tickets-package .package-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section .tickets-package .package-title .table-th {
  background-color: #036EB7;
  padding: 5px 5px 5px 10px;
  text-align: left;
  width: 100%;
}
.section .tickets-package .package-title .sale {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
}
.section .tickets-package .package-title .material-icons {
  margin-right: 10px;
}
.section .tickets-package .package-content {
  margin-top: 5px;
  background-color: #ccc;
  padding: 15px 20px;
}
@media all and (max-width: 768px) {
  .section .tickets-package .package-content {
    padding: 10px;
  }
}
.section .tickets-package .package-content .table-th:first-of-type {
  text-align: left;
  padding-left: 10px;
}
.section .tickets-package .package-content .ticket-set .table-td {
  color: #DD362B;
  padding: 10px;
}
.section .tickets-package .package-content .ticket-set .table-td div {
  color: #000;
}
.section .tickets-package .package-content .ticket-set .table-td:first-of-type {
  width: 45%;
  text-align: left;
}
.section .tickets-package .package-content .ticket-set .table-td:nth-of-type(2) {
  width: 10%;
  max-width: 10%;
}
.section .tickets-package .package-content .ticket-set .table-td:nth-of-type(4) {
  width: 20%;
}
.section .tickets-package .package-content .ticket-sheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section .tickets-package .package-content .ticket-sheet span {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  width: 50px;
  cursor: pointer;
}
.section .tickets-package .package-content .ticket-sheet span.minus {
  color: #818181;
}
.section .tickets-package .package-content .ticket-sheet input {
  color: #000;
  width: 80%;
  height: 30px;
  padding: 0;
  text-align: center;
  border-color: rgba(129, 129, 129, 0.3254901961);
}
.section .tickets-package .row-right {
  border: 1px solid #818181;
  border-radius: 10px;
  padding: 20px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section .tickets-package .row-right > .material-icons {
  width: 100%;
  text-align: right;
  color: #FCC900;
}
.section .tickets-package .row-right .note {
  margin-bottom: 5px;
}
.section .tickets-package .row-right .note .material-icons {
  font-size: 2rem;
  margin-right: 5px;
}
.section .tickets-package .row-right ul {
  margin-left: 40px;
}
.section .tickets-package .row-right li {
  list-style: decimal-leading-zero;
}
.section .tickets-package .row-right li:last-of-type {
  margin-bottom: 20px;
}
.section .book-step-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .book-step-btn button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .book-step-btn button.next {
  background-color: #D26759;
  margin-left: 10px;
}
.section .book-step-btn button.next .material-icons {
  margin-left: 10px;
}
.section .book-step-btn button.back {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
  margin-right: 10px;
}
.section .book-step-btn button.back .material-icons {
  margin-right: 10px;
}
.section .seat-table {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}
.section .seat-table .screen {
  color: #000;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  background-image: url(../image/svg/screen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 5px;
  margin: 20px auto 40px auto;
}
.section .seat-table .table-tr {
  height: 40px;
}
.section .seat-table .table-td .td-block {
  width: 45px;
  padding: 2px 0;
  margin: 0 auto;
}
.section .seat-table .table-td .seat {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
}
.section .seat-table .table-td .seat .material-icons {
  font-size: 22px;
  vertical-align: text-top;
}
.section .seat-table .table-td .accessibility {
  border-color: #E75514;
  color: #E75514;
}
.section .seat-table .table-td.soldout .seat {
  border-color: #818181;
  cursor: not-allowed;
  background-color: #DD362B;
}
.section .seat-table .table-td.booked .seat {
  border-color: #818181;
  background-color: #73C044;
}
.section .seat-table .table-td.disable .seat {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(129, 129, 129, 0.3254901961);
  color: #818181;
  border-color: #818181;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.3;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.3;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes revealBlock {
  100% {
    color: #fff;
  }
}
@keyframes revealBlock {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes revealingIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes revealingIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes revealingOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes revealingOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}