#landing {
  position: relative;
  width: 100%;
  z-index: 10;
}
#landing .landing-page {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url(https://picsum.photos/1920/500);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: blur 2s ease-out;
          animation: blur 2s ease-out;
}
#landing h1 {
  display: block;
  color: #fff;
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#landing h1 div {
  display: block;
  text-align: right;
}
#landing .welcome {
  width: 224px;
  height: 224px;
  cursor: pointer;
  position: absolute;
  bottom: 150px;
  left: 15vw;
}
#landing .welcome .text-round {
  width: 100%;
  height: 100%;
  background: url(../image/svg/welcome-round.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}
#landing .welcome .mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 53px;
  background: url(../image/svg/mouse.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#landing .welcome .mouse .scroller {
  width: 3px;
  height: 8px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 25%;
  position: absolute;
  top: 13px;
  left: 14px;
  -webkit-animation: scroll 1s ease-in infinite;
          animation: scroll 1s ease-in infinite;
}

.start-scroll #landing .landing-page {
  height: 0;
  -webkit-transition: height 0.6s cubic-bezier(0.76, -0.24, 0.55, 0.91);
  transition: height 0.6s cubic-bezier(0.76, -0.24, 0.55, 0.91);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
.start-scroll #landing h1, .start-scroll #landing .welcome {
  display: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0;
  }
}
@-webkit-keyframes blur {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  100% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}
@keyframes blur {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  100% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}