.section .introduction {
  font-weight: 300;
}

.section .showing-list .state, .section .tickets-package .package-content .ticket-set .table-td div {
  font-weight: 400;
}

.seat-table .seat-mark .mark, .section .booking-history .ticket-no, .section .about .info .main-title div:nth-of-type(1), .section .account label, .section .account .actionbtn, .section .account .actionbtn button span, .section .booking .row-right .actions button span:first-of-type, .section .booking .weektable .booktime, .section .tickets-package .package-content .ticket-set .type, .section .tickets-package .package-content .ticket-sheet span, .section .actions .actions-btn.next, .section .actions .actions-btn.back, .section .book-tickets-2 .condition > div span, .section .book-tickets-3 .check-info label, .section .book-tickets-3 .check-info .container-checkbox a, .section .book-tickets-4 .book-done, .section .contact .info li span, .discount .discount-info .info {
  font-weight: 600;
}

.landing {
  width: 100%;
  z-index: 99999;
  position: fixed;
}
.landing .landing-page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing h1 {
  color: #fff;
  font-size: 8rem;
  text-align: right;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1.3;
  margin: 0 auto;
  overflow-y: hidden;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing h1 {
    font-size: 6rem;
  }
}
@media all and (max-width: 768px) {
  .landing h1 {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}
@media all and (max-width: 320px) {
  .landing h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.landing h1 .block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  -webkit-animation: revealBlock 0s var(--t) forwards;
          animation: revealBlock 0s var(--t) forwards;
}
.landing h1 .block-reveal::after {
  content: "";
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 1px;
  background: var(--bc);
  -webkit-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
          animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}
.landing .welcome {
  width: 224px;
  height: 224px;
  cursor: pointer;
  position: absolute;
  bottom: 13vh;
  left: 13vw;
  opacity: 0;
  -webkit-animation: opacity 1s linear 1.8s;
          animation: opacity 1s linear 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome {
    width: 180px;
    height: 180px;
    bottom: 8vh;
    left: 9vw;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome {
    width: 100px;
    height: 100px;
    bottom: 8vh;
    left: 9vw;
  }
}
.landing .welcome .text-round {
  width: 100%;
  height: 100%;
  background: url(../image/svg/welcome-round.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}
.landing .welcome .mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 53px;
  background: url(../image/svg/mouse.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome .mouse {
    width: 29px;
    height: 48px;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome .mouse {
    width: 24px;
    height: 43px;
  }
}
.landing .welcome .mouse .scroller {
  width: 5px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 25%;
  position: absolute;
  top: 13px;
  left: 15px;
  -webkit-animation: scroll 1.3s ease-in infinite;
          animation: scroll 1.3s ease-in infinite;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .landing .welcome .mouse .scroller {
    left: 12px;
  }
}
@media all and (max-width: 768px) {
  .landing .welcome .mouse .scroller {
    left: 10px;
    top: 8px;
  }
}

.section .introduction {
  font-weight: 300;
}

.section .tickets-package .package-content .ticket-set .table-td div, .section .showing-list .state {
  font-weight: 400;
}

.discount .discount-info .info, .section .contact .info li span, .section .book-tickets-4 .book-done, .section .book-tickets-3 .check-info .container-checkbox a, .section .book-tickets-3 .check-info label, .section .book-tickets-2 .condition > div span, .section .actions .actions-btn.back, .section .actions .actions-btn.next, .section .tickets-package .package-content .ticket-sheet span, .section .tickets-package .package-content .ticket-set .type, .section .booking .weektable .booktime, .section .booking .row-right .actions button span:first-of-type, .section .account .actionbtn button span, .section .account .actionbtn, .section .account label, .section .about .info .main-title div:nth-of-type(1), .section .booking-history .ticket-no, .seat-table .seat-mark .mark {
  font-weight: 600;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.table-tr {
  display: table-row;
  width: 100%;
}

.table-th {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #818181;
}

.table-td {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.seat-table {
  min-width: 60%;
  max-width: 75%;
  margin: 0 auto 80px auto;
  overflow-x: auto;
  padding-bottom: 20px;
}
@media all and (max-width: 768px) {
  .seat-table {
    width: 100%;
    max-width: 100%;
  }
}
.seat-table .seat-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 768px) {
  .seat-table .seat-mark {
    margin-top: 10px;
    padding-left: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.seat-table .seat-mark .mark {
  margin: 0 15px;
}
@media all and (max-width: 768px) {
  .seat-table .seat-mark .mark {
    margin: 0;
    margin-bottom: 10px;
    width: 33.33%;
    text-align: left;
  }
}
@media all and (max-width: 320px) {
  .seat-table .seat-mark .mark {
    width: 50%;
  }
}
.seat-table .seat-mark .mark span {
  display: inline-block;
  -webkit-box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
          box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-right: 10px;
}
@media all and (max-width: 768px) {
  .seat-table .seat-mark .mark span {
    padding: 2px 5px;
  }
}
.seat-table .seat-mark .selected span {
  background-color: #73C044;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.seat-table .seat-mark .sell span {
  background-color: #DD362B;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.seat-table .seat-mark .wheelchair span {
  -webkit-box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
          box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
  color: #E75514;
  font-size: 23px;
}
.seat-table .screen {
  display: block;
  color: #000;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  margin: 20px auto 40px auto;
  width: 800px;
}
.seat-table .screen img {
  width: 600px;
}
@media all and (max-width: 768px) {
  .seat-table .screen img {
    width: 400px;
  }
}
@media all and (max-width: 768px) {
  .seat-table .screen {
    width: 663px;
  }
}
.seat-table .table-td .td-block {
  width: 40px;
  padding: 2px 0;
  margin: 4px auto;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .seat-table .table-td .td-block {
    margin: 4px;
    width: 35px;
    font-size: 0.9rem;
  }
}
@media all and (max-width: 768px) {
  .seat-table .table-td .td-block {
    width: 30px;
    margin: 3px;
    font-size: 0.8rem;
  }
}
.seat-table .table-td .seat,
.seat-table .table-td .td-seat {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
          box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}
.seat-table .table-td .seat .material-icons,
.seat-table .table-td .td-seat .material-icons {
  font-size: 22px;
  vertical-align: text-top;
}
@media all and (max-width: 768px) {
  .seat-table .table-td .seat .material-icons,
.seat-table .table-td .td-seat .material-icons {
    font-size: 18px;
  }
}
.seat-table .table-td .td-seat {
  cursor: default;
}
.seat-table .table-td .accessibility {
  -webkit-box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
          box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
  color: #E75514;
}
.seat-table .table-td.soldout .seat,
.seat-table .table-td.soldout .td-seat {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
  background-color: #DD362B;
}
.seat-table .table-td.booked .seat, .seat-table .table-td.booked .td-seat {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #73C044;
}
.seat-table .table-td.disable .seat, .seat-table .table-td.disable .td-seat {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(129, 129, 129, 0.3254901961);
  color: #818181;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section .showing-list {
  text-align: center;
  position: relative;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .showing-list {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .showing-list {
    margin-bottom: 20px;
  }
}
.section .showing-list a {
  display: block;
  padding: 0 5px;
}
@media all and (max-width: 768px) {
  .section .showing-list a > div {
    padding: 0;
  }
}
.section .showing-list .poster img {
  border-radius: 10px;
}
.section .showing-list .state {
  position: absolute;
  top: 15px;
  left: 5px;
  padding: 5px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.section .showing-list .state.recommand {
  background-color: #73C044;
  background-color: rgba(115, 192, 68, 0.8);
}
.section .showing-list .state.newin {
  background-color: #DD362B;
  background-color: rgba(221, 54, 43, 0.8);
}
.section .showing-list .state.hottest {
  background-color: #FCC900;
  background-color: rgba(252, 201, 0, 0.8);
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .onlinebook {
    margin-bottom: 40px;
  }
}
@media all and (max-width: 768px) {
  .section .onlinebook {
    margin-bottom: 40px;
  }
}
.section .onlinebook .select-box {
  padding-right: 2vw;
}
.section .onlinebook .select-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.section .onlinebook .select-box .material-icons {
  color: #C53932;
  font-size: 2.5rem;
}
.section .onlinebook .select-box select {
  width: 100%;
  height: 60px;
  margin-left: 10px;
}
@media all and (max-width: 768px) {
  .section .onlinebook .select-box {
    padding-right: 0;
  }
}
.section .lastestnew .news-box {
  width: 100%;
}
.section .lastestnew .news-box a {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .section .lastestnew .news-box a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section .lastestnew .news-box img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section .lastestnew .news-box .new-info {
  width: 50%;
  margin-left: 20px;
  padding-right: 5px;
  text-align: left;
}
@media all and (max-width: 768px) {
  .section .lastestnew .news-box .new-info {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
  }
}
.section .lastestnew .news-box .sub-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section .movies .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .movies .showing-list {
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .section .movies .showing-list {
    margin-bottom: 20px;
  }
}
.section .movie-info .movie-item:first-of-type {
  padding-right: 2vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .movie-info .movie-item:first-of-type {
    padding-right: 0;
    width: 50%;
    margin: 0 auto 20px auto;
  }
}
@media all and (max-width: 768px) {
  .section .movie-info .movie-item:first-of-type {
    padding-right: 0;
    width: 50%;
    margin: 0 auto 20px auto;
  }
}
.section .introduction {
  line-height: 1.8;
}
.section .trailer {
  background-color: rgba(73, 73, 73, 0.596);
  padding: 2rem;
  text-align: center;
  margin-top: 50px;
}
@media all and (max-width: 768px) {
  .section .trailer {
    padding: 10px;
  }
}
.section .booking-history .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .booking-history .item {
  position: relative;
  border-top: 1px solid #818181;
  padding: 40px 2em;
}
@media all and (max-width: 1200px) {
  .section .booking-history .item {
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section .booking-history .item > .content-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.section .booking-history .item .content-row:last-of-type {
  border-bottom: none;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking-history .row-left {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .booking-history .row-left {
    width: 50%;
    margin-bottom: 20px;
  }
}
.section .booking-history .row-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 20px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking-history .row-right {
    padding-left: 0px;
  }
}
@media all and (max-width: 768px) {
  .section .booking-history .row-right {
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section .booking-history .ticket-no {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #73C044;
  padding: 5px 15px;
}
.section .booking-history .ticket-no span {
  margin-left: 5px;
}
.section .booking-history .movie-title {
  width: 80%;
  margin: 15px 0;
}
@media all and (max-width: 768px) {
  .section .booking-history .movie-title {
    width: 100%;
    text-align: center;
  }
}
.section .booking-history .movie-title p {
  color: #00ABF2;
  line-height: 1.3;
}
.section .booking-history .movie-title span {
  color: #fff;
}
.section .booking-history .booking-list {
  width: 80%;
}
@media all and (max-width: 768px) {
  .section .booking-history .booking-list {
    width: 100%;
  }
}
.section .booking-history .booking-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
@media all and (max-width: 768px) {
  .section .booking-history .booking-list .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.section .booking-history .booking-list .list:last-of-type {
  margin-bottom: 0;
}
.section .booking-history .booking-list .list label {
  width: 90px;
  min-width: 90px;
  color: #818181;
}
.section .booking-history .ticket-state {
  position: absolute;
  right: 2em;
  top: 40px;
}
@media all and (max-width: 768px) {
  .section .booking-history .ticket-state {
    position: static;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section .booking-history .ticket-state .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .section .booking-history .ticket-state .state {
    width: 130px;
    margin-right: 10px;
  }
}
.section .booking-history .ticket-state .state.collapse {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
}
.section .booking-history .ticket-state .state.refund {
  border: 1px solid #C53932;
}
.section .booking-history .ticket-state .state .material-icons {
  margin-left: 3px;
}
.section .booking-history .ticket-info {
  width: 100%;
  position: relative;
  display: none;
}
.section .booking-history .ticket-info .info-item {
  border-bottom: 1px dashed #818181;
  padding: 1em 0;
}
.section .booking-history .ticket-info .info-item:last-of-type {
  border-bottom: 0;
}
.section .booking-history .ticket-info .ticket-state {
  top: 0;
  right: 0;
}
.section .booking-history .ticket-info:last-of-type {
  border-bottom: none;
}
.section .booking-history .ticket-info .row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 768px) {
  .section .booking-history .ticket-info .row-left {
    width: 100%;
  }
}
.section .booking-history .ticket-info .row-left span {
  width: 120px;
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 12px;
}
.section .news .hr-line {
  margin: 1.1em 0;
}
.section .news .event {
  margin-bottom: 40px;
}
@media all and (max-width: 768px) {
  .section .news .event {
    padding: 0;
  }
}
.section .news .event a {
  display: block;
  padding: 0 5px;
}
.section .news .event .sub-title {
  margin-top: 15px;
  margin-bottom: 0;
}
.section .news .event img {
  border-radius: 5px;
}
.section .news-info .actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .news-info .actions .actions-btn {
  margin-right: 20px;
}
.section .news-info .actions .back {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #FCC900;
  padding: 10px 30px;
}
.section .news-info .row-left {
  padding-right: 40px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .news-info .row-left {
    padding-right: 0px;
  }
}
@media all and (max-width: 768px) {
  .section .news-info .row-left {
    padding-right: 0px;
  }
}
.section .news-info .row-left img {
  border-radius: 10px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .news-info .sub-title {
    margin-top: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .news-info .sub-title {
    margin-top: 20px;
  }
}
.section .news-info .hr-line {
  width: 100px;
}
.section .news-info .new-content p {
  margin-bottom: 20px;
}
.section .group-ticket .project {
  margin-bottom: 40px;
}
.section .group-ticket .project hr {
  background-color: #FCC900;
}
.section .group-ticket .row-left {
  padding-right: 40px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .group-ticket .row-left {
    padding-right: 0px;
  }
}
@media all and (max-width: 768px) {
  .section .group-ticket .row-left {
    padding-right: 0px;
  }
}
.section .group-ticket .row-left img {
  border-radius: 10px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .group-ticket .sub-title {
    margin-top: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .group-ticket .sub-title {
    margin-top: 20px;
  }
}
.section .group-ticket .hr-line {
  width: 100px;
}
.section .group-ticket .new-content p {
  margin-bottom: 20px;
}
.section .about .row-left {
  padding-right: 1vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .about .row-left {
    padding-right: 0;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 768px) {
  .section .about .row-left {
    padding-right: 0;
    margin-bottom: 15px;
  }
}
.section .about .row-right {
  padding-left: 1vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .about .row-right {
    padding-left: 0;
  }
}
@media all and (max-width: 768px) {
  .section .about .row-right {
    padding-left: 0;
  }
}
.section .about img {
  border-radius: 10px;
}
.section .about .info {
  margin-top: 40px;
}
.section .about .info .main-title div:nth-of-type(1)::before {
  content: url('data:image/svg+xml;utf8,<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 0H2C0.9 0 0 0.9 0 2V18L7 15L14 18V2C14 0.9 13.1 0 12 0Z" fill="black"/></svg>');
  background-color: transparent;
  margin-right: 15px;
}
.section .about .info .info-container {
  padding-left: 20px;
}
.section .about .info .info-container.facility {
  overflow-x: auto;
  padding-bottom: 20px;
}
.section .about .info .info-container li:first-of-type {
  margin-top: 20px;
}
.section .about .info .info-container li:before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2857 0H1.71429C0.771429 0 0 0.771429 0 1.71429V15.4286L6 12.8571L12 15.4286V1.71429C12 0.771429 11.2286 0 10.2857 0Z' fill='%23C53932'/%3E%3C/svg%3E ");
  margin-right: 10px;
  vertical-align: sub;
}
.section .about .info .info-container .table {
  min-width: 1000px;
  border-collapse: initial;
}
.section .about .info .info-container .table .table-th {
  width: 80px;
  padding: 5px 0;
  border: 1px solid #4a4a4a;
  background-color: rgba(255, 255, 255, 0.253);
}
.section .about .info .info-container .table .table-th:first-of-type {
  border-radius: 5px 0 0 0;
  border: none;
  width: 120px;
}
.section .about .info .info-container .table .table-th:last-of-type {
  border-radius: 0 5px 0 0;
  border: none;
}
.section .about .info .info-container .table .table-td {
  padding: 5px 0;
  border: 1px solid #4a4a4a;
}
.section .about .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .account label {
  display: block;
  color: #00ABF2;
  margin: 0 0 4px 0;
}
.section .account .row-left {
  padding-right: 15px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .account .row-left {
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .section .account .row-left {
    padding-right: 0;
  }
}
.section .account .row-right {
  padding-left: 15px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .account .row-right {
    padding-left: 0;
  }
}
@media all and (max-width: 768px) {
  .section .account .row-right {
    padding-left: 0;
  }
}
.section .account .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .account .actionbtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 80px;
  max-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 768px) {
  .section .account .actionbtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .section .account .actionbtn:last-of-type {
    margin-top: 15px;
  }
}
.section .account .actionbtn button {
  font-weight: normal;
  width: 49%;
  color: #000;
  height: 50px;
  padding: 10px 0;
  background-color: #00ABF2;
}
@media all and (max-width: 768px) {
  .section .account .actionbtn button {
    margin-bottom: 15px;
    width: 100%;
  }
}
.section .account .actionbtn button[type=submit] {
  background-color: #D26759;
}
.section .account .actionbtn div {
  font-weight: normal;
  width: 49%;
  background-color: #73C044;
  color: #fff;
  height: 50px;
  padding: 10px 0;
}
@media all and (max-width: 768px) {
  .section .account .actionbtn div {
    width: 100%;
  }
}
.section .account .actionbtn.fit-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .account .actionbtn.fit-center button {
  padding: 10px 30px;
}
.section .account .actionbtn.fit-center button[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section .account select {
  color: #fff;
}
.section .account select:invalid {
  color: rgba(255, 255, 255, 0.452);
}
.section .account select option[value=none] {
  color: rgba(255, 255, 255, 0.452);
}
.section .booking .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .booking .content-row {
  margin-bottom: 80px;
}
.section .booking .row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .row-left {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
@media all and (max-width: 768px) {
  .section .booking .row-left {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.section .booking .row-right .actions {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .booking .row-right .actions button {
  border-radius: 5px;
  color: #fff;
}
.section .booking .row-right .actions button:first-of-type {
  margin-right: 20px;
}
.section .booking .row-right .actions button .material-icons {
  margin-left: 15px;
}
.section .booking .row-right .actions button a {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 768px) {
  .section .booking .row-right .actions button a {
    padding: 8px;
  }
}
.section .booking .row-right .actions button span:first-of-type {
  text-align: left;
  display: inline-block;
}
.section .booking .row-right .actions button small {
  display: block;
  margin-bottom: 2px;
  font-size: 9px;
  font-weight: 500;
}
.section .booking .row-right .actions button.quick-view {
  border: 1px solid #036EB7;
}
.section .booking .row-right .actions button.quick-view:hover {
  background-color: #036EB7;
}
.section .booking .row-right .actions button.buy-ticket {
  border: 1px solid #00ABF2;
}
.section .booking .row-right .actions button.buy-ticket:hover {
  background-color: #00ABF2;
}
.section .booking .movie-item:first-of-type {
  padding-right: 20px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .movie-item:first-of-type {
    width: 30%;
    margin: 0 auto;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .booking .movie-item:first-of-type {
    position: absolute;
    width: 100px;
    right: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .booking .movie-title {
    width: calc(100% - 110px);
    padding-right: 10px;
  }
}
.section .booking .movie-title p {
  color: #00ABF2;
}
.section .booking .movie-title span {
  color: #fff;
  word-break: break-word;
}
.section .booking .up-date {
  color: #fff;
}
.section .booking .list-row {
  max-width: 85%;
}
.section .booking .weektable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section .booking .weektable .booktime {
  cursor: pointer;
}
@media all and (max-width: 320px) {
  .section .booking .weektable .booktime {
    font-size: 0.8rem;
  }
}
.section .booking .weektable .booktime span {
  font-weight: normal;
  display: block;
}
.section .booking .weektable .booktime.active {
  color: #FCC900;
}
.section .booking .cinema {
  position: relative;
  margin: 20px 0;
}
.section .booking .cinema::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 70%;
  background-color: #818181;
  position: absolute;
  right: 0;
  top: 20px;
}
@media all and (max-width: 768px) {
  .section .booking .cinema::after {
    width: 60%;
  }
}
.section .booking .cinema .material-icons {
  font-size: 3rem;
  vertical-align: middle;
  margin-right: 10px;
}
.section .booking .timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section .booking .timetable .time {
  width: 20%;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .booking .timetable .time {
    width: 16.6%;
  }
}
@media all and (max-width: 768px) {
  .section .booking .timetable .time {
    width: 25%;
  }
}
@media all and (max-width: 320px) {
  .section .booking .timetable .time {
    width: 33.33%;
  }
}
.section .booking .timetable .time span {
  display: block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.section .booking .timetable .time.active span {
  color: #000;
  border: 1px solid #FCC900;
  background-color: #FCC900;
}
.section .booking .timetable .time.disable span {
  cursor: not-allowed;
  color: #818181;
  border: 1px solid #818181;
}
.section .book-tickets .row-left {
  padding-right: 2vw;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-left {
    padding-right: 0;
    width: 50%;
    margin: 0 auto 20px auto;
  }
}
.section .book-tickets .row-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-min {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
}
.section .book-tickets .row-min .movie-item {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-item {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-item .movie-title {
  margin-top: 0;
  width: 80%;
}
.section .book-tickets .row-min .movie-item .movie-level {
  width: 80px;
  margin-bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
}
.section .book-tickets .row-min .movie-detail .material-icons {
  font-size: 2rem;
  margin-right: 10px;
  color: #DD362B;
}
.section .book-tickets .row-min .movie-detail .detail {
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-detail .detail {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-detail .detail.mb-0 {
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-min .movie-detail .detail.mb-0 {
    margin-bottom: 10px;
  }
}
.section .book-tickets .row-min .movie-detail .detail.disable {
  color: #818181;
}
.section .book-tickets .row-min .movie-detail .detail.disable .material-icons {
  color: inherit;
}
.section .book-tickets .row-min .movie-detail .start-time {
  padding: 2px 5px;
  border: 1px solid #818181;
  border-radius: 3px;
  margin-right: 4px;
}
.section .book-tickets .row-right {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.247);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 3px dashed rgba(255, 255, 255, 0.062);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-right {
    border-radius: 10px;
    border-left: none;
    margin-top: 2vw;
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-right {
    border-radius: 10px;
    border-left: none;
    margin-top: 2vw;
    padding: 20px;
  }
}
.section .book-tickets .row-right .summary {
  color: #A18978;
  text-align: right;
  letter-spacing: 0px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-right .summary {
    text-align: left;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-right .summary {
    text-align: left;
  }
}
.section .book-tickets .row-right .summary .material-icons {
  font-size: 2rem;
  margin-right: 10px;
}
.section .book-tickets .row-right .summary-detail {
  height: 100%;
  padding: 10px 0;
}
.section .book-tickets .row-right .summary-detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.section .book-tickets .row-right .summary-detail .ticket-name {
  width: 100%;
}
.section .book-tickets .row-right .summary-detail .ticket-number {
  width: 80px;
  text-align: right;
  margin-right: 5px;
}
.section .book-tickets .row-right .summary-detail .ticket-sum {
  width: 50%;
  text-align: right;
  margin-left: 5px;
}
.section .book-tickets .row-right .summary-total {
  background-color: rgba(129, 129, 129, 0.3254901961);
  padding: 5px 10px;
}
.section .book-tickets .row-right .summary-total li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section .book-tickets .row-right .summary-total .ticket-name {
  width: 100%;
}
.section .book-tickets .row-right .summary-total .ticket-sum {
  width: 40%;
  text-align: right;
  margin-left: 5px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-5 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-5 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .book-tickets .row-3 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .section .book-tickets .row-3 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
  }
}
.section .tickets-package .row-left {
  padding-right: 2vw;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .tickets-package .row-left {
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .section .tickets-package .row-left {
    padding-right: 0;
  }
}
.section .tickets-package .package {
  margin-bottom: 30px;
  overflow-x: auto;
}
.section .tickets-package .package:nth-of-type(odd) .package-title .table-th {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
}
.section .tickets-package .package:nth-of-type(even) .package-title .table-th {
  background-color: #036EB7;
}
.section .tickets-package .main-title div:nth-of-type(1)::before {
  background-color: #00ABF2;
}
.section .tickets-package .main-title div:nth-of-type(2) {
  color: #00ABF2;
}
.section .tickets-package .package-title small {
  display: none;
  margin-left: 10px;
}
@media all and (max-width: 768px) {
  .section .tickets-package .package-title small {
    display: inline-block;
  }
}
@media all and (max-width: 768px) {
  .section .tickets-package .package-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section .tickets-package .package-title .table-th {
  padding: 5px 5px 5px 10px;
  text-align: left;
  width: 100%;
}
.section .tickets-package .package-title .material-icons {
  margin-right: 10px;
}
.section .tickets-package .package-content {
  margin-top: 5px;
  background-color: #ccc;
  padding: 15px 20px;
}
@media all and (max-width: 768px) {
  .section .tickets-package .package-content {
    padding: 10px;
  }
}
.section .tickets-package .package-content .table-th:first-of-type {
  text-align: left;
  padding-left: 10px;
}
.section .tickets-package .package-content .ticket-set .table-td {
  color: #DD362B;
  padding: 10px;
}
.section .tickets-package .package-content .ticket-set .table-td div {
  color: #000;
}
.section .tickets-package .package-content .ticket-set .table-td:first-of-type {
  width: 100%;
  min-width: 200px;
  text-align: left;
}
.section .tickets-package .package-content .ticket-set .table-td:nth-of-type(2) {
  min-width: 100px;
}
.section .tickets-package .package-content .ticket-sheet {
  white-space: nowrap;
}
.section .tickets-package .package-content .ticket-sheet span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  width: 32px;
  height: 32px;
  border: 1px solid #3e3e3e;
  border-radius: 50%;
  cursor: pointer;
}
.section .tickets-package .package-content .ticket-sheet span.minus {
  color: #706d6d;
}
.section .tickets-package .package-content .ticket-sheet span.number {
  color: #000;
  width: 50px;
  font-size: 1rem;
  padding: 0;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}
.section .tickets-package .row-right > .material-icons {
  width: 100%;
  text-align: right;
  color: #FCC900;
}
.section .actions .actions-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .actions .actions-btn.next {
  background-color: #D26759;
  border-color: #D26759;
  color: #282828;
}
.section .actions .actions-btn.next .material-icons {
  margin-left: 10px;
}
.section .actions .actions-btn.back {
  background-color: #00ABF2;
  background-color: rgba(0, 171, 242, 0.8);
  border-color: rgba(0, 171, 242, 0.8);
  color: #282828;
}
.section .actions .actions-btn.back .material-icons {
  margin-right: 10px;
}
.section .book-tickets-2 {
  position: relative;
}
.section .book-tickets-2 .main-title div:nth-of-type(2) {
  color: #00ABF2;
}
.section .book-tickets-2 .main-title div:nth-of-type(1)::before {
  background-color: #00ABF2;
}
.section .book-tickets-2 .condition {
  position: absolute;
  right: 0;
  top: 0;
}
@media all and (max-width: 768px) {
  .section .book-tickets-2 .condition {
    position: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.section .book-tickets-2 .condition > div {
  padding: 5px 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.section .book-tickets-2 .condition > div span {
  margin: 0 10px;
}
.section .book-tickets-2 .condition > div span.material-icons {
  margin: 0 10px 0 0;
}
.section .book-tickets-2 .condition .countdown {
  background-color: #00ABF2;
}
.section .book-tickets-2 .condition .how-many-seat {
  background-color: #FCC900;
  color: #000;
}
.section .book-tickets-3 .main-title div:nth-of-type(2) {
  color: #00ABF2;
}
.section .book-tickets-3 .main-title div:nth-of-type(1)::before {
  background-color: #00ABF2;
}
.section .book-tickets-3 .check-info input,
.section .book-tickets-3 .check-info select {
  border-color: transparent;
}
.section .book-tickets-3 .check-info label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.section .book-tickets-3 .check-info .info-item {
  display: inline-block;
  width: 30%;
  margin: 5px 0 50px 0;
  padding-right: 20px;
}
.section .book-tickets-3 .check-info .info-item label {
  color: #FCC900;
  margin-bottom: 5px;
}
@media all and (max-width: 768px) {
  .section .book-tickets-3 .check-info .info-item {
    width: 50%;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}
.section .book-tickets-3 .check-info .precautions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.section .book-tickets-3 .check-info .precautions span {
  margin-right: 5px;
  color: #73C044;
}
.section .book-tickets-3 .check-info .container-checkbox {
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section .book-tickets-3 .check-info .container-checkbox a {
  margin: 0 5px;
}
.section .book-tickets-3 .check-info .container-checkbox .checkmark {
  top: 5px;
}
.section .book-tickets-3 .check-info .container-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
}
.section .book-tickets-4 .book-done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
@media all and (max-width: 768px) {
  .section .book-tickets-4 .book-done {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section .book-tickets-4 .book-done .done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: #73C044;
  margin-right: 30px;
}
@media all and (max-width: 768px) {
  .section .book-tickets-4 .book-done .done {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.section .book-tickets-4 .book-done .done .material-icons {
  margin-right: 10px;
}
.section .preview {
  text-align: center;
}
.section .preview .main-title div:nth-of-type(2) {
  color: #00ABF2;
}
.section .preview .main-title div:nth-of-type(1)::before {
  background-color: #00ABF2;
}
.section .preview .close {
  border-color: #fff;
  color: #fff;
}
.section .contact .actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section .contact .info {
  margin: 0;
  padding-right: 10px;
}
@media all and (max-width: 768px) {
  .section .contact .info {
    padding-left: 0;
  }
}
.section .contact .info li::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2857 0H1.71429C0.771429 0 0 0.771429 0 1.71429V15.4286L6 12.8571L12 15.4286V1.71429C12 0.771429 11.2286 0 10.2857 0Z' fill='%23C53932'/%3E%3C/svg%3E ");
  margin-right: 10px;
}
.section .contact .info li:nth-of-type(4) label {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}
.section .contact .info li:nth-of-type(4) label:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00ABF2;
  margin-right: 10px;
  margin-bottom: 3px;
}
.section .contact .info li:nth-of-type(4) label div {
  padding-left: 15px;
}
.section .contact .info li:nth-of-type(5) label {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}
.section .contact .info li span {
  display: inline-block;
  margin: 0 20px 10px 0;
}
.section .contact .row-right .actions {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .contact .row-right .actions .actions-btn {
  border-color: #fff;
  color: #fff;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section .contact .row-right .actions .actions-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media all and (max-width: 768px) {
  .section .contact .row-right .actions .actions-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.discount {
  padding: 0;
}
.discount .section:nth-of-type(2) {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.discount .section .content {
  padding: 0 15px;
}
@media all and (max-width: 768px) {
  .discount .section .content {
    padding: 0 10px;
  }
}
.discount .discount-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .discount .discount-info .row-3 {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 768px) {
  .discount .discount-info .row-3 {
    padding: 0;
    margin-bottom: 15px;
  }
}
.discount .discount-info .info {
  position: relative;
  background-color: #FCC900;
  color: #000;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.discount .discount-info .info .star {
  position: absolute;
  top: -10px;
  left: 35px;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6364 2L11.0909 38L38 11.8526L2 17.1579L38 31.9368L17.6364 2Z' stroke='%23C53932' stroke-width='3' stroke-linejoin='round'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-size: contain;
}
.discount .discount-info li {
  width: 90%;
  margin: 0 auto 10px auto;
  margin-bottom: 10px;
}
.discount .discount-info li::before {
  content: "";
  position: relative;
  top: 20px;
  height: 0px;
  width: 0px;
  border-color: #FCC900 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 15px 15px 0px 0px;
  margin-right: 10px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.3;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.3;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes revealBlock {
  100% {
    color: #fff;
  }
}
@keyframes revealBlock {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes revealingIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes revealingIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes revealingOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes revealingOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}