@font-face {
    font-family: 'Broadway Regular';
    font-display: swap;
    src: local('Broadway Regular'),url('../fonts/Broadway Regular.ttf') format("truetype"),
}
@font-face {
    font-family: 'Eurostile Extended';
    font-display: swap;
    src: local('Eurostile Extended'), 
         url('../fonts/EurostileExtended.ttf') format("truetype"),    
} 
@font-face {
    font-family: '源泉圓體 R';
    font-display: swap;
    src: local('源泉圓體 R'), 
         url('../fonts/GenSenRoundedTW-R.ttf') format("truetype"),    
} 
