@use "variables"as v;
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.table-tr {
  display: table-row;
  width: 100%;
}

.table-th {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #818181;
}

.table-td {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.seat-table {
  min-width: 60%;
  max-width: 75%;
  margin: 0 auto 80px auto;
  overflow-x: auto;
  padding-bottom: 20px;

  @include v.phone-width {
    width: 100%;
    max-width: 100%;
  }

  .seat-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;

    @include v.phone-width {
      margin-top: 10px;
      padding-left: 10px;
      justify-content: flex-start;
    }

    .mark {
      margin: 5px 15px 0 15px;
      @extend %weight600;
 
      @include v.phone-width {
        margin: 0;
        margin-bottom: 10px;
        width: 33.33%;
        text-align: left;
      }
      @include v.mini-width {
        width: 50%;
      }

      span {
        display: inline-block;
        box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
        padding: 5px 10px;
        border-radius: 10px 10px 0 0;
        margin-right: 10px;


        @include v.phone-width {
          padding: 2px 5px;
        }
      }
    }

    .selected {
      span {
        background-color: v.$green-bg-color;
        box-shadow: none;
      }
    }

    .sell {
      span {
        background-color: v.$red-bg-color;
        box-shadow: none;
      }
    }

    .wheelchair {
      display: flex;
      align-items: center;
      span {
        width: 40px;
        height: 37px;
        box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
        color: #E75514;
        background-size: 45%;
        @include v.phone-width {
          width: 30px;
          height: 28px;
        }
      }
    }

  }

  .screen {
    display: block;
    color: #000;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    margin: 20px auto 40px auto;
    width: 800px;

    img {
      width: 600px;

      @include v.phone-width {
        width: 400px
      }
    }

    @include v.phone-width {
      width: 663px
    }
  }

  .table-td {
    .td-block {
      width: 40px;
      height: 30px;
      padding: 5px 0 2px 0;
      margin: 4px auto;
      display: flex;
      justify-content: center;


      @include v.pad-width {
        margin:4px;
        width: 35px;
        font-size: 0.9rem;
      }

      @include v.phone-width {
        width: 30px;
        height: 25px;
        margin:3px;
        font-size: 0.8rem;
      }
    }

    .seat,
    .td-seat {
      cursor: pointer;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      box-shadow: 1px 0 #fff, -1px 0 #fff, 0 -1px #fff, 0 1px #fff;
    }

    .td-seat {
      cursor: default;
    }

    .accessibility {
      box-shadow: 1px 0 #E75514, -1px 0 #E75514, 0 -1px #E75514, 0 1px #E75514;
      color: #E75514;
      align-items: center;
      padding: 2px;

    }

    &.soldout {
      .seat,
      .td-seat {
        box-shadow: none;
        cursor: not-allowed;
        background-color: v.$red-bg-color;
      }
    }

    &.booked {
      .seat,.td-seat {
        box-shadow: none;
        background-color: v.$green-bg-color;
      }
    }

    &.disable {
      .seat,.td-seat {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #81818153;
        color: #818181;
        box-shadow: none;
      }
    }

  }
}