$primary: #b9373b;
$primary-opacity: #b9373bbd;
$secondary:#000;

$white:#fff;
$font-primary:rgb(233, 233, 233);
$bg-color:#000;

$max-width:1500px;

$pc-media:992px;
$pcs-media:991px;
$phone-media:769px;
$phones-media:768px;

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

//平板
@mixin pad-width() {
  @media all and (min-width:$phones-media) and (max-width: $pcs-media) {
    @content;
  }
}

//手機
@mixin phone-width() {
  @media all and (max-width: $phone-media) {
    @content;
  }
}