$primary: #C53932;
$secondary: #000;
$btn-primary:#D26759;

$font-primary: #fff;
$font-secondary: #818181;
$bg-color: #282828;
$yellow-bg-color:#FCC900;
$orange-bg-color:#E56F28;
$red-bg-color:#DD362B;
$blue-bg-color:#5A96C3;
$green-bg-color:#73C044;

$max-width: 1400px;

%weight300{
  font-weight: 300;
}
%weight400{
  font-weight: 400;
}
%weight600{
  font-weight: 600;
}
@mixin bg-opacity($color, $opacity) {
  background-color: $color;
  background-color: rgba($color, $opacity);
}
@mixin row-width($width){
    flex: 0 0 auto;
    width: $width;
}

$pc-media: 992px;
$pcs-media: 991px;
$phone-media: 768px;
$phones-media: 769px;
$mini-media: 320px;
$other-media: 1200px;
$mini-height: 700px;

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

//平板
@mixin pad-width() {
  @media all and (min-width: $phones-media) and (max-width: $pcs-media) {
    @content;
  }
}

//手機
@mixin phone-width() {
  @media all and (max-width: $phone-media) {
    @content;
  }
}
//最小
@mixin mini-width() {
  @media all and (max-width: $mini-media) {
    @content;
  }
}
//其他
@mixin other-width() {
  @media all and (max-width: $other-media) {
    @content;
  }
}
//針對nav
@mixin under-pad-width() {
  @media all and (max-width: $pcs-media) {
    @content;
  }
}
//手機版MENU
@mixin mini-height() {
  @media all and (max-height: $mini-height) {
    @content;
  }
}