@use "variables"as v;

//landing for homepage
.landing {
  width: 100%;
  z-index: 99999;
  position: fixed;

  .landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    // background-image: url(https://picsum.photos/1920/500);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: v.$font-primary;
    font-size: 8rem;
    text-align: right;
    width: min-content;
    line-height: 1.3;
    margin: 0 auto;
    overflow-y: hidden;

    @include v.pad-width {
      font-size: 6rem;
    }

    @include v.phone-width {
      font-size: 3rem;
      margin-bottom: 60px;
    }

    @include v.mini-width {
      font-size: 2rem;
      margin-bottom: 30px;
    }

    .block-reveal {
      --t: calc(var(--td) + var(--d));
      color: transparent;
      padding: 4px;
      position: relative;
      overflow: hidden;
      animation: revealBlock 0s var(--t) forwards;
    }

    .block-reveal::after {
      content: '';
      width: 0%;
      height: 100%;
      padding-bottom: 4px;
      position: absolute;
      top: 0;
      left: 1px;
      background: var(--bc);
      animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
    }
  }

  .welcome {
    width: 224px;
    height: 224px;
    cursor: pointer;
    position: absolute;
    bottom: 13vh;
    left: 13vw;
    opacity: 0;
    animation: opacity 1s linear 1.8s;
    animation-fill-mode: forwards;

    @include v.pad-width {
      width: 180px;
      height: 180px;
      bottom: 8vh;
      left: 9vw;
    }

    @include v.phone-width {
      display: none;
    }

    .text-round {
      width: 100%;
      height: 100%;
      background: url(../image/svg/welcome-round.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: rotate 10s infinite linear;
    }

    .mouse {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 34px;
      height: 53px;
      background: url(../image/svg/mouse.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @include v.pad-width {
        width: calc(34px - 5px);
        height: calc(53px - 5px);
      }

      @include v.phone-width {
        width: calc(34px - 8px);
        height: calc(53px - 8px);
      }

      .scroller {
        width: 5px;
        height: 8px;
        border: 1px solid v.$font-primary;
        border-radius: 25%;
        position: absolute;
        top: 13px;
        left: 15px;
        animation: scroll 1.3s ease-in infinite;

        @include v.pad-width {
          left: 12px;
        }

        @include v.phone-width {
          left: 11px;
        }
      }
    }
  }
}

//page style
.section {
  .showing-list {
    text-align: center;
    position: relative;

    @include v.pad-width {
      margin-bottom: 20px;
    }

    @include v.phone-width {
      margin-bottom: 20px;
    }

    a {
      display: block;
      padding: 0 5px;

      >div {
        @include v.mini-width {
          padding-right: 0;
        }
      }
    }

    .poster {
      img {
        border-radius: 10px;
      }
    }

    .movie-level {
      margin-right: 10px;
    }

    .state {
      position: absolute;
      top: 15px;
      left: 5px;
      padding: 5px 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @extend %weight400;

      &.recommand {
        @include v.bg-opacity(v.$green-bg-color, 0.8);
      }

      &.newin {
        @include v.bg-opacity(v.$red-bg-color, 0.8);
      }

      &.hottest {
        @include v.bg-opacity(v.$yellow-bg-color, 0.8);
      }
    }
  }

  .onlinebook {
    @include v.pad-width {
      margin-bottom: 40px;
    }

    @include v.phone-width {
      margin-bottom: 40px;
    }

    .select-box {
      padding-right: 2vw;

      div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }

      .material-icons {
        color: v.$primary;
        font-size: 2.5rem;
      }

      select {
        width: 100%;
        height: 60px;
        margin-left: 10px;
      }

      @include v.phone-width {
        padding-right: 0;
      }
    }
  }

  .lastestnew {
    .news-box {
      width: 100%;

      a {
        width: 100%;
        position: relative;
        display: flex;
        margin-bottom: 20px;

        @include v.phone-width {
          flex-direction: column;
        }
      }

      img {
        height: fit-content;
      }

      .new-info {
        width: 50%;
        margin-left: 20px;
        padding-right: 15px;
        text-align: left;

        @include v.phone-width {
          margin-left: 0px;
          margin-top: 15px;
          width: 100%;
        }
      }

      .sub-title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .movie-item {

    .up-date {
      margin: 5px 0 30px 0;
      color: v.$primary;
    }

    .movie-level {
      margin-top: 0;
    }

    .book-btn {
      display: inline-block;
      padding: 8px 25px;
      background-color: #5a98c0;
      border-radius: 5px;
      margin-bottom: 30px;
      color: v.$font-primary;
      cursor: pointer;
      @extend %weight400;

      .material-icons {
        margin-right: 10px;
      }
    }

    .list-item {
      >div {
        margin-bottom: 10px;
        @extend %weight600;

        &:last-of-type {
          margin-bottom: 0;
        }

        span {
          font-weight: normal;
          border-left: 1px solid #fff;
          padding-left: 10px;
          margin-left: 10px;
          display: inline-block;
        }
      }

      .list-row {
        width: 100%;
        display: -webkit-inline-box;

        div {
          max-width: 95%;
        }
      }
    }
  }

  .movie-info {
    .movie-item {
      &:first-of-type {
        padding-right: 2vw;

        @include v.pad-width {
          padding-right: 0;
          margin-bottom: 20px;
        }

        @include v.phone-width {
          padding-right: 0;
          margin-bottom: 20px;

        }
      }
    }

    .row-3 {
      @include v.pad-width {
        flex-basis: 100%;
      }

      @include v.phone-width {
        flex-basis: 100%;
      }
    }
  }

  .introduction {
    line-height: 1.8;
    @extend %weight300;
  }

  .trailer {
    background-color: rgba(73, 73, 73, 0.596);
    padding: 2rem;
    text-align: center;
    margin-top: 50px;

    @include v.phone-width {
      padding: 10px;
    }
  }

  .booking-history {
    .actions-btn {
      width: 12em;
    }

    .item {
      border-top: 1px solid v.$font-secondary;
      padding: 40px 2em 0 2em;
      margin-bottom: 40px;

      @include v.other-width {
        padding: 20px 0 0 0;
        justify-content: center;
      }
    }

    .row-left {
      @include v.pad-width {
        margin-bottom: 40px;
      }

      @include v.phone-width {
        margin-bottom: 40px;
      }
    }

    .row-right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      padding-left: 20px;

      @include v.pad-width {
        padding-left: 0px;
      }

      @include v.phone-width {
        padding-left: 0px;
        align-items: center;
      }
    }

    .ticket-no {
      width: fit-content;
      background-color: v.$green-bg-color;
      padding: 5px 15px;

      span {
        margin-left: 5px
      }

      @extend %weight600;
    }

    .movie-title {
      width: 80%;
      margin: 15px 0;

      @include v.phone-width {
        width: 100%;
        text-align: center;
      }

      p {
        color: v.$blue-bg-color;
        line-height: 1.3;
      }

      span {
        color: v.$font-primary;
      }

    }

    .booking-list {
      width: 80%;

      @include v.phone-width {
        width: 100%;
      }

      .list {
        display: flex;
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        label {
          width: 90px;
          min-width: 90px;
          color: v.$font-secondary;
        }

      }
    }

    .ticket-state {
      position: absolute;
      right: 0;


      @include v.phone-width {
        position: static;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
      }

      .state {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: v.$font-primary;
        padding: 5px 25px;
        border-radius: 3px;

        @include v.phone-width {
          width: 130px;
          margin-right: 10px;
        }

        &.paid {
          @include v.bg-opacity(v.$blue-bg-color, 0.8)
        }

        &.getQR {
          background-color: v.$blue-bg-color;
        }

        &.refund {
          border: 1px solid v.$primary;
        }

        .material-icons {
          margin-left: 3px;
        }
      }
    }
  }

  .news {
    .event {
      margin-bottom: 40px;

      @include v.phone-width {
        padding: 0;
      }

      a {
        display: block;
        padding: 0 5px;
      }

      .sub-title {
        margin-top: 15px;
        margin-bottom: 0;
      }

      img {
        border-radius: 5px;
      }
    }
  }

  .news-info {
    .actions {
      align-items: center;
      justify-content: flex-start;

      .actions-btn {
        margin-right: 20px;
      }

      .back {
        width: 100%;
        height: fit-content;
        color: v.$yellow-bg-color;
        padding: 10px 30px;
      }
    }

    .row-left {
      padding-right: 40px;

      @include v.pad-width {
        padding-right: 0px;
      }

      @include v.phone-width {
        padding-right: 0px;
      }

      img {
        border-radius: 5px;
      }
    }

    .sub-title {
      @include v.pad-width {
        margin-top: 20px;
      }

      @include v.phone-width {
        margin-top: 20px;

      }
    }

    .hr-line {
      width: 100px;
    }

    .new-content {
      p {
        margin-bottom: 20px;
      }
    }
  }

  .account {
    label {
      display: block;
      color: v.$blue-bg-color;
      margin: 0 0 4px 0;
      @extend %weight600;
    }

    .row-left {
      padding-right: 15px;

      @include v.pad-width {
        padding-right: 0;
      }

      @include v.phone-width {
        padding-right: 0;
      }
    }

    .row-right {
      padding-left: 15px;

      @include v.pad-width {
        padding-left: 0;
      }

      @include v.phone-width {
        padding-left: 0;
      }
    }

    .actionbtn {
      display: inline-flex;
      margin-top: 0;
      align-items: flex-end;
      height: 82px;
      max-height: 82px;
      justify-content: space-between;

      @include v.phone-width {
        flex-direction: column;
      }

      &:last-of-type {
        @include v.phone-width {
          margin-top: 15px;
        }
      }

      button {
        font-weight: normal;
        flex-basis: 49%;
        color: v.$secondary;
        height: 50px;
        padding: 10px 0;
        background-color: v.$blue-bg-color;

        @include v.phone-width {
          margin-bottom: 15px;
        }

        &[type="submit"] {
          flex-basis: 49%;
          background-color: v.$btn-primary;
        }

        span {
          @extend %weight600
        }

      }

      div {
        font-weight: normal;
        flex-basis: 49%;
        background-color: v.$green-bg-color;
        color: v.$font-primary;
        height: 50px;
        padding: 10px 0;
      }

      &.fit-center {
        justify-content: center;

        button {
          padding: 10px 30px;

          &[type="submit"] {
            flex-basis: fit-content;
          }
        }
      }
    }

    select {
      color: #fff;

      &:invalid {
        color: rgba(255, 255, 255, 0.452);
      }

      option {
        &[value="none"] {
          color: rgba(255, 255, 255, 0.452);
        }
      }
    }
  }

  .booking {
    .content-row {
      margin-bottom: 80px;
    }

    .row-left {
      display: flex;
      padding-right: 10px;
      flex-wrap: wrap;

      @include v.pad-width {
        padding-right: 0;
        margin-bottom: 40px;
      }

      @include v.phone-width {
        padding-right: 0;
        margin-bottom: 40px;
      }
    }

    .movie-item {
      &:first-of-type {
        padding-right: 20px;

        @include v.pad-width {
          padding-right: 0;
          margin-bottom: 20px;
        }

        @include v.phone-width {
          padding-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .movie-title {
      p {
        color: v.$blue-bg-color;
      }

      span {
        color: #fff;
        word-break: break-word;
      }
    }

    .up-date {
      color: #fff;
    }

    .list-row {
      max-width: 85%;
    }

    .weektable {
      display: flex;
      justify-content: space-between;

      .booktime {
        cursor: pointer;
        @extend %weight600;

        span {
          font-weight: normal;
          display: block;
        }

        &.active {
          color: v.$yellow-bg-color;
        }
      }
    }

    .cinema {
      position: relative;
      margin: 20px 0;

      &::after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 70%;
        background-color: v.$font-secondary;
        position: absolute;
        right: 0;
        top: 20px;
      }

      .material-icons {
        font-size: 3rem;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .timetable {
      display: flex;
      text-align: center;
      justify-content: flex-start;
      color: #fff;
      flex-wrap: wrap;

      .time {
        width: 20%;

        @include v.pad-width {
          width: 16.6%;
        }

        @include v.phone-width {
          width: 33.33%;
        }

        a {
          display: block;
          padding: 5px 10px;
          border: 1px solid #fff;
          border-radius: 5px;
          margin: 5px;

        }

        &.active {
          a {
            color: v.$secondary;
            border: 1px solid v.$yellow-bg-color;
            background-color: v.$yellow-bg-color;
          }

        }

        &.disable {
          a {
            cursor: not-allowed;
            pointer-events: none;
            color: v.$font-secondary;
            border: 1px solid v.$font-secondary;
          }

        }



      }
    }
  }

  .book-tickets {
    .row-left {
      padding-right: 2vw;

      @include v.phone-width {
        padding-right: 0;
        margin: 0 auto 2vw auto;
      }
    }

    .row-min {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.247);
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      @include v.pad-width {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
      }

      @include v.phone-width {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
      }


      .movie-item {
        width: 100%;
        display: inline-flex;
        align-items: center;

        @include v.phone-width {
          margin-bottom: 10px;
        }

        .movie-title {
          margin-top: 0;
          width: 80%;

        }

        .movie-level {
          width: 80px;
          margin-bottom: 0;
          height: fit-content;
          margin-right: 20px;
        }
      }

      .movie-detail {
        .material-icons {
          font-size: 2rem;
          margin-right: 10px;
          color: v.$red-bg-color;
        }

        .detail {
          margin-bottom: 20px;

          @include v.phone-width {
            margin-bottom: 10px;
          }

          &.mb-0 {
            margin-bottom: 0;

            @include v.phone-width {
              margin-bottom: 10px;
            }
          }

          &.disable {
            color: #818181;

            .material-icons {
              color: inherit
            }
          }
        }

        .start-time {
          padding: 2px 5px;
          border: 1px solid #818181;
          border-radius: 3px;
          margin-right: 4px;
        }
      }
    }

    .row-right {
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.247);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 3px dashed rgba(255, 255, 255, 0.062);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include v.pad-width {
        border-radius: 10px;
        border-left: none;
        margin-top: 2vw;
        padding: 20px;
      }

      @include v.phone-width {
        border-radius: 10px;
        border-left: none;
        margin-top: 2vw;
        padding: 20px;
      }

      .summary {
        color: #A18978;
        text-align: right;
        letter-spacing: 0px;

        @include v.pad-width {
          text-align: left;

        }

        @include v.phone-width {
          text-align: left;
        }

        .material-icons {
          font-size: 2rem;
          margin-right: 10px;
        }
      }

      .summary-detail {
        height: 100%;
        padding: 10px 0;

        li {
          display: flex;
          padding: 0 10px;
        }

        .ticket-name {
          width: 100%;
        }

        .ticket-number {
          width: 80px;
          text-align: right;
          margin-right: 5px;
        }

        .ticket-sum {
          width: 50%;
          text-align: right;
          margin-left: 5px;
        }

      }

      .summary-total {
        background-color: #81818153;
        padding: 5px 10px;

        li {
          display: flex;
        }

        .ticket-name {
          width: 100%;
        }

        .ticket-sum {
          width: 40%;
          text-align: right;
          margin-left: 5px;
        }
      }
    }

    .row-5 {
      @include v.pad-width {
        flex: 50%;
        width: 50%;
      }

      @include v.phone-width {
        flex: 100%;
        width: 100%;
      }
    }

    .row-3 {
      @include v.pad-width {
        flex: 100%;
        width: 100%;
      }

      @include v.phone-width {
        flex: 100%;
        width: 100%;
      }
    }
  }

  .tickets-package {
    .row-left {
      padding-right: 2vw;

      @include v.pad-width {
        padding-right: 0;
      }

      @include v.phone-width {
        padding-right: 0;
      }
    }


    .package {
      margin-bottom: 30px;
      overflow-x: auto;
      width: 100%;
    }

    .table {
      @include v.phone-width {
        max-width: 800px;
        width: 800px;
      }

    }


    .main-title div:nth-of-type(1)::before {
      background-color: v.$blue-bg-color;
    }

    .main-title div:nth-of-type(2) {
      color: v.$blue-bg-color;
    }


    .package-title {
      @include v.phone-width {
        display: flex;
      }

      .table-th {
        background-color: #036EB7;
        padding: 5px 5px 5px 10px;
        text-align: left;
        width: 100%;
      }

      .sale {

        @include v.bg-opacity(v.$blue-bg-color, 0.8);

      }

      .material-icons {
        margin-right: 10px;
      }
    }

    .package-content {
      margin-top: 5px;
      background-color: #ccc;
      padding: 15px 20px;

      @include v.phone-width {
        padding: 10px;
      }

      .table-th:first-of-type {
        text-align: left;
        padding-left: 10px;
      }

      .ticket-set {
        .table-td {
          color: v.$red-bg-color;
          padding: 10px;

          div {
            color: v.$secondary;
            @extend %weight400;
          }

          &:first-of-type {
            width: 45%;
            text-align: left;
          }

          &:nth-of-type(2) {
            width: 10%;
            max-width: 10%;
          }

          &:nth-of-type(3) {}

          &:nth-of-type(4) {
            width: 20%;
          }
        }

        .type {
          @extend %weight600;
        }

      }

      .ticket-sheet {
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
          display: inline-block;
          text-align: center;
          font-size: 25px;
          width: 50px;
          cursor: pointer;
          @extend %weight600;

          &.minus {
            color: #818181;
          }
        }

        input {
          color: #000;
          width: 80%;
          height: 30px;
          padding: 0;
          text-align: center;
          border-color: #81818153;
        }
      }
    }

    .row-right {
      border: 1px solid #818181;
      border-radius: 10px;
      padding: 20px 30px;
      height: fit-content;

      >.material-icons {
        width: 100%;
        text-align: right;
        color: v.$yellow-bg-color;
      }

      .note {
        margin-bottom: 5px;
        @extend %weight600;

        .material-icons {
          font-size: 2rem;
          margin-right: 5px;
        }
      }

      ul {
        margin-left: 40px;
      }

      li {
        list-style: decimal-leading-zero;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }

  .book-step-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: fit-content;
      color: #000;
      display: flex;
      align-items: center;

      &.next {
        background-color: v.$btn-primary;
        margin-left: 10px;

        .material-icons {
          margin-left: 10px
        }
      }

      &.back {
        @include v.bg-opacity(v.$blue-bg-color, 0.8);
        margin-right: 10px;

        .material-icons {
          margin-right: 10px
        }
      }
    }
  }

  .book-tickets-2 {
    position: relative;

    .main-title div:nth-of-type(2) {
      color: v.$blue-bg-color
    }

    .main-title div:nth-of-type(1)::before {
      background-color: v.$blue-bg-color;
    }

    .seat-table {
      // width: fit-content;
      min-width: 60%;
      max-width: 80%;
      margin: 0 auto 80px auto;
      overflow-x: auto;
      padding-bottom: 20px;

      @include v.phone-width {
        width: 100%;
        max-width: 100%;
      }

      .seat-mark {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;

        @include v.phone-width {
          margin-top: 10px;
        }

        .mark {
          margin: 0 15px;
          @extend %weight600;

          @include v.phone-width {
            margin: 0;
            margin-bottom: 5px;
            width: 50%;
          }

          span {
            border: 1px solid #fff;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 10px;
            display: inline-block;

            @include v.phone-width {
              padding: 2px 5px;
            }
          }
        }

        .selected {
          span {
            background-color: v.$green-bg-color;
          }
        }

        .sell {
          span {
            background-color: v.$red-bg-color;
          }
        }

        .wheelchair {
          span {
            border-color: #E75514;
            color: #E75514;
            font-size: 23px;
          }
        }

      }

      .screen {
        display: block;
        color: #000;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;
        margin: 20px auto 40px auto;
        width: 800px;

        img {
          width: 600px;

          @include v.phone-width {
            width: 400px
          }
        }

        @include v.phone-width {
          width: 663px
        }
      }

      .table-tr {
        height: 40px;

        @include v.phone-width {
          height: 30px;
        }
      }

      .table-td {
        .td-block {
          width: 45px;
          padding: 2px 0;
          margin: 0 3px;

          @include v.pad-width {
            width: 40px;
            font-size: 0.9rem;
          }

          @include v.phone-width {
            width: 35px;
            margin: 0 2px;
            font-size: 0.8rem;
          }
        }

        .seat {
          cursor: pointer;
          border: 1px solid #fff;
          border-radius: 5px;

          .material-icons {
            font-size: 22px;
            vertical-align: text-top;

            @include v.phone-width {
              font-size: 18px;
            }
          }
        }

        .accessibility {
          border-color: #E75514;
          color: #E75514;
        }

        &.soldout {
          .seat {
            border-color: #818181;
            cursor: not-allowed;
            background-color: v.$red-bg-color;
          }
        }

        &.booked {
          .seat {
            border-color: #818181;
            background-color: v.$green-bg-color;
          }
        }

        &.disable {
          .seat {
            cursor: not-allowed;
            pointer-events: none;
            background-color: #81818153;
            color: #818181;
            border-color: #818181;
          }
        }

      }
    }

    .condition {
      position: absolute;
      right: 0;
      top: 0;

      @include v.phone-width {
        position: static;
        width: fit-content;
      }

      >div {
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;

        span {
          margin: 0 10px;
          @extend %weight600;

          &.material-icons {
            margin: 0 10px 0 0;
          }
        }

        margin-bottom: 10px;
      }

      .countdown {
        background-color: v.$blue-bg-color;
      }

      .how-many-seat {
        background-color: v.$yellow-bg-color;
        color: #000;
      }
    }
  }
  .book-tickets-3{
     .main-title div:nth-of-type(2) {
      color: v.$blue-bg-color
    }

    .main-title div:nth-of-type(1)::before {
      background-color: v.$blue-bg-color;
    }
    .check-info{
      input,select{
        border-color: transparent;
      }
      label{display:block;width: 100%;@extend %weight600;margin-bottom: 10px;}
      .info-item{
        display: inline-block;
        width: 30%;
        margin: 0 30px 30px 0;
        label{color: v.$yellow-bg-color;margin-bottom: 5px;}
      }
      .precautions{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span{
          margin-right: 5px;
          color: v.$green-bg-color;
        }
      }
      .container-checkbox{
        font-weight: normal;
        width: fit-content;
       a{@extend %weight600;margin: 0 5px;}
        .checkmark{
        top: 5px;
      }
      }
     
    }
  }

}

// animate
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(8px);
    opacity: 0.3;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacityR {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes revealBlock {
  100% {
    color: #fff;
  }
}

@keyframes revealingIn {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes revealingOut {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}