@use "variables" as v;

//landing for index
.landing {
  width: 100%;
  z-index: 99999;
  position: fixed;

  .landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    background-image: url(https://picsum.photos/1920/500);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: v.$font-primary;
    font-size: 8rem;
    text-align: right;
    width: min-content;
    line-height: 1.3;
    margin: 0 auto;
    overflow-y: hidden;

    @include v.pad-width {
      font-size: 6rem;
    }

    @include v.phone-width {
      font-size: 3rem;
    }

    @include v.mini-width {
      font-size: 2rem;
    }

    span {
      display: block;

      &:first-of-type {
        animation: fontSlideY 1s cubic-bezier(.74, -0.23, .4, .88);
        animation-fill-mode: forwards;
      }

      &:nth-of-type(2) {
        animation: fontSlideY2 1s cubic-bezier(.74, -0.23, .4, .88);
        animation-fill-mode: forwards;
      }
    }
  }

  .welcome {
    width: 224px;
    height: 224px;
    cursor: pointer;
    position: absolute;
    bottom: 13vh;
    left: 13vw;
    opacity: 0;
    animation: opacity 1.5s linear;
    animation-fill-mode: forwards;

    @include v.pad-width {
      width: 180px;
      height: 180px;
      bottom: 8vh;
      left: 9vw;
    }

    @include v.phone-width {
      display: none;
    }

    .text-round {
      width: 100%;
      height: 100%;
      background: url(../image/svg/welcome-round.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: rotate 10s infinite linear;
    }

    .mouse {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 34px;
      height: 53px;
      background: url(../image/svg/mouse.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @include v.pad-width {
        width: calc(34px - 5px);
        height: calc(53px - 5px);
      }

      @include v.phone-width {
        width: calc(34px - 8px);
        height: calc(53px - 8px);
      }

      .scroller {
        width: 5px;
        height: 8px;
        border: 1px solid v.$font-primary;
        border-radius: 25%;
        position: absolute;
        top: 13px;
        left: 15px;
        animation: scroll 1.3s ease-in infinite;

        @include v.pad-width {
          left: 12px;
        }

        @include v.phone-width {
          left: 11px;
        }
      }
    }
  }
}

//for index landing animation
.start-scroll {
  .landing {
    .landing-page {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
      transition: transform 1s cubic-bezier(0.87, -0.01, 0.68, 0.85) 0.3s,
        opacity 0.5s linear 1.2s;
      transform-origin: top center;
    }

    h1 {
      span {
        &:first-of-type {
          animation: fontSlideYR 0.8s cubic-bezier(.74, -0.23, .4, .88);
          animation-fill-mode: forwards;
        }

        &:nth-of-type(2) {
          animation: fontSlideY2R 0.8s cubic-bezier(.74, -0.23, .4, .88);
          animation-fill-mode: forwards;
        }
      }
    }

    .welcome {
      animation: opacityR 0.8s cubic-bezier(.74, -0.23, .4, .88);
      animation-fill-mode: forwards;
    }
  }
}

//page style
.showing-list {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  padding: 0 5px;

  a {
    >div {
      @include v.mini-width {
        padding-right: 0;
      }
    }
  }

  .poster {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .movie-level {
    margin-right: 10px;
  }

  .state {
    position: absolute;
    top: 15px;
    padding: 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @extend %weight400;

    &.recommand {
      @include v.bg-opacity(v.$green-bg-color, 0.8);
    }

    &.newin {
      @include v.bg-opacity(v.$red-bg-color, 0.8);
    }

    &.hottest {
      @include v.bg-opacity(v.$yellow-bg-color, 0.8);
    }
  }
}

.onlinebook {
  .select-box {
    padding-right: 7vw;

    div {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .material-icons {
      color: v.$primary;
      font-size: 30px;
    }

    select {
      width: 100%;
      height: 60px;
      margin-left: 10px;
    }

    @include v.phone-width {
      padding-right: 0;
    }
  }
}

.lastestnew {
  .news-box {
    width: 100%;

    a {
      width: 100%;
      position: relative;
      display: flex;
      margin-bottom: 20px;

      @include v.phone-width {
        flex-direction: column;
      }
    }

    img {
      width: 40%;
      height: fit-content;
    }

    .new-info {
      max-width: 50%;
      width: 50%;
      margin-left: 20px;
      padding-right: 15px;
      text-align: left;

      @include v.phone-width {
        margin-left: 0px;
        margin-top: 15px;
      }
    }

    .sub-title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.movie-item {
  &:first-of-type {
    padding-right: 40px;

    @include v.phone-width {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  img {
    width: 100%;
  }

  .up-date {
    margin: 10px 0 30px 0;
    color: v.$primary;
    @extend %weight300;
  }

  .movie-level {
    margin-top: 0;
  }

  .book-btn {
    display: inline-block;
    padding: 8px 25px;
    background-color: #5a98c0;
    border-radius: 5px;
    margin-bottom: 30px;
    color: v.$font-primary;
    cursor: pointer;
    @extend %weight400;

    .material-icons {
      margin-right: 10px;
    }
  }

  .list-item {
    >div {
      margin-bottom: 15px;
      @extend %weight600;


      span {
        @extend %weight300;
        border-left: 1px solid #fff;
        padding-left: 10px;
        margin-left: 10px;
        display: inline-block;
      }
    }

    .list-2 {
      width: 100%;
      display: -webkit-inline-box;

      div {
        max-width: 95%;
      }
    }
  }
}

.introduction {
  line-height: 1.8;
  @extend %weight300;
}

.trailer {
  background-color: rgba(73, 73, 73, 0.596);
  padding: 2rem;
  text-align: center;
  margin-top: 50px;

  @include v.phone-width {
    padding: 10px;
  }
}

.booking-history {
  .item {
    border-top: 1px solid v.$font-secondary;
    padding: 40px 5em 0 5em;
    margin-bottom: 40px;

    @include v.other-width {
      padding: 20px 0 0 0;
      justify-content: center;
    }
  }

  .row-left {
    img {
      width: 100%;
    }
  }

  .row-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-left: 20px;
  }

  .ticket-no {
    width: fit-content;
    background-color: v.$green-bg-color;
    padding: 5px 15px;

    span {
      margin-left: 5px
    }

    @extend %weight600;
  }

  .movie-title {
    p {
      color: v.$blue-bg-color;
      line-height: 1.3;
    }

    span {
      color: v.$font-primary;
    }

  }

  .booking-list {

    .list {
      display: flex;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }

      label {
        width: 90px;
        min-width: 90px;
        color: v.$font-secondary;
      }

    }
  }

  .ticket-state {
    position: absolute;
    right: 0;

    .state {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      color: v.$font-primary;
      padding: 5px 25px;
      border-radius: 3px;
      cursor: pointer;

      &.paid {
        @include v.bg-opacity(v.$blue-bg-color, 0.8)
      }

      &.getQR {
        background-color: v.$blue-bg-color;
      }

      &.refund {
        border: 1px solid v.$primary;
      }

      .material-icons {
        margin-left: 3px;
      }
    }
  }
}

.news {
  .event {
    padding: 0 10px;
    margin-bottom: 40px;

    .sub-title {
      margin-top: 20px;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

.news-info {
  .actions {
    align-items: center;

    .back {
      width: 100%;
      height: fit-content;
      color: v.$yellow-bg-color;
    }
  }

  .row-left {
    padding-right: 40px;

    img {
      border-radius: 5px;
    }
  }

  .hr-line {
    width: 100px;
  }

  .new-content {
    p {
      margin-bottom: 20px;
    }
  }
}

.account {
  label {
    display: block;
    color: v.$blue-bg-color;
    margin: 0 0 4px 0;
    @extend %weight600;
  }

  .row-left {
    padding-right: 15px;
  }

  .row-right {
    padding-left: 15px;
  }

  .actionbtn {
    display: inline-flex;
    margin-top: 0;
    align-items: flex-end;
    height: 82px;
    max-height: 82px;
    justify-content: space-between;

    button {
      font-weight: normal;
      flex-basis: 49%;
      color: v.$secondary;
      height: 50px;
      padding: 10px 0;
      background-color: v.$blue-bg-color;

      &[type="submit"] {
        flex-basis: 49%;
        background-color: v.$btn-primary;
      }

      span {
        @extend %weight600
      }

    }

    div {
      font-weight: normal;
      flex-basis: 49%;
      background-color: v.$green-bg-color;
      color: v.$font-primary;
      height: 50px;
      padding: 10px 0;
    }
    &.fit-center {
        justify-content: center;

        button {
          padding: 10px 30px;
          &[type="submit"] {
            flex-basis: fit-content;
          }
        }
      }
  }

  select {
    color: #fff;

    &:invalid {
      color: rgba(255, 255, 255, 0.452);
    }

    option {
      &[value="none"] {
        color: rgba(255, 255, 255, 0.452);
      }
    }
  }
}

//animate
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(8px);
    opacity: 0.3;
  }
}

@keyframes fontSlideY {
  0% {
    transform: translateY(-150px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fontSlideY2 {
  0% {
    transform: translateY(150px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fontSlideYR {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {

    transform: translateY(-150px);
    opacity: 0.3;
  }
}

@keyframes fontSlideY2R {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(150px);
    opacity: 0.3;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityR {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}