@use "variables"as v;

//landing for homepage
.landing {
  width: 100%;
  z-index: 99999;
  position: fixed;

  .landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    // background-image: url(https://picsum.photos/1920/500);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: v.$font-primary;
    font-size: 8rem;
    text-align: right;
    width: min-content;
    line-height: 1.3;
    margin: 0 auto;
    overflow-y: hidden;

    @include v.pad-width {
      font-size: 6rem;
    }

    @include v.phone-width {
      font-size: 3rem;
      margin-bottom: 60px;
    }

    @include v.mini-width {
      font-size: 2rem;
      margin-bottom: 30px;
    }

    .block-reveal {
      --t: calc(var(--td) + var(--d));
      color: transparent;
      padding: 4px;
      position: relative;
      overflow: hidden;
      animation: revealBlock 0s var(--t) forwards;
    }

    .block-reveal::after {
      content: '';
      width: 0%;
      height: 100%;
      padding-bottom: 4px;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--bc);
      animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
    }
  }

  .welcome {
    width: 224px;
    height: 224px;
    cursor: pointer;
    position: absolute;
    bottom: 13vh;
    left: 13vw;
    opacity: 0;
    animation: opacity 1.5s linear 1s;
    animation-fill-mode: forwards;

    @include v.pad-width {
      width: 180px;
      height: 180px;
      bottom: 8vh;
      left: 9vw;
    }

    @include v.phone-width {
      display: none;
    }

    .text-round {
      width: 100%;
      height: 100%;
      background: url(../image/svg/welcome-round.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: rotate 10s infinite linear;
    }

    .mouse {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 34px;
      height: 53px;
      background: url(../image/svg/mouse.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @include v.pad-width {
        width: calc(34px - 5px);
        height: calc(53px - 5px);
      }

      @include v.phone-width {
        width: calc(34px - 8px);
        height: calc(53px - 8px);
      }

      .scroller {
        width: 5px;
        height: 8px;
        border: 1px solid v.$font-primary;
        border-radius: 25%;
        position: absolute;
        top: 13px;
        left: 15px;
        animation: scroll 1.3s ease-in infinite;

        @include v.pad-width {
          left: 12px;
        }

        @include v.phone-width {
          left: 11px;
        }
      }
    }
  }
}

//page style
.section {
  .showing-list {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding: 0 5px;
 
    a {
      >div {
        @include v.mini-width {
          padding-right: 0;
        }
      }
    }

    .poster {
      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .movie-level {
      margin-right: 10px;
    }

    .state {
      position: absolute;
      top: 15px;
      padding: 5px 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @extend %weight400;

      &.recommand {
        @include v.bg-opacity(v.$green-bg-color, 0.8);
      }

      &.newin {
        @include v.bg-opacity(v.$red-bg-color, 0.8);
      }

      &.hottest {
        @include v.bg-opacity(v.$yellow-bg-color, 0.8);
      }
    }
  }

  .onlinebook {
    .select-box {
      padding-right: 7vw;

      div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }

      .material-icons {
        color: v.$primary;
        font-size: 30px;
      }

      select {
        width: 100%;
        height: 60px;
        margin-left: 10px;
      }

      @include v.phone-width {
        padding-right: 0;
      }
    }
  }

  .lastestnew {
    .news-box {
      width: 100%;

      a {
        width: 100%;
        position: relative;
        display: flex;
        margin-bottom: 20px;

        @include v.phone-width {
          flex-direction: column;
        }
      }

      img {
        width: 100%;
        height: fit-content;
      }

      .new-info {
        width: 50%;
        margin-left: 20px;
        padding-right: 15px;
        text-align: left;

        @include v.phone-width {
          margin-left: 0px;
          margin-top: 15px;
          width: 100%;
        }
      }

      .sub-title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .movie-item {


    img {
      width: 100%;
    }

    .up-date {
      margin: 5px 0 30px 0;
      color: v.$primary;
    }

    .movie-level {
      margin-top: 0;
    }

    .book-btn {
      display: inline-block;
      padding: 8px 25px;
      background-color: #5a98c0;
      border-radius: 5px;
      margin-bottom: 30px;
      color: v.$font-primary;
      cursor: pointer;
      @extend %weight400;

      .material-icons {
        margin-right: 10px;
      }
    }

    .list-item {
      >div {
        margin-bottom: 15px;
        @extend %weight600;


        span {
          font-weight: normal;
          border-left: 1px solid #fff;
          padding-left: 10px;
          margin-left: 10px;
          display: inline-block;
        }
      }

      .list-row {
        width: 100%;
        display: -webkit-inline-box;

        div {
          max-width: 95%;
        }
      }
    }
  }

  .movie-info {
    .row-3 {
      @include v.pad-width {
        flex-basis: 100%;
      }

      @include v.phone-width {
        flex-basis: 100%;
      }
    }
  }

  .introduction {
    line-height: 1.8;
    @extend %weight300;
  }

  .trailer {
    background-color: rgba(73, 73, 73, 0.596);
    padding: 2rem;
    text-align: center;
    margin-top: 50px;

    @include v.phone-width {
      padding: 10px;
    }
  }

  .booking-history {
    .actions-btn {
      width: 12em;
    }

    .item {
      border-top: 1px solid v.$font-secondary;
      padding: 40px 5em 0 5em;
      margin-bottom: 40px;

      @include v.other-width {
        padding: 20px 0 0 0;
        justify-content: center;
      }
    }

    .row-left {
      @include v.pad-width {
        margin-bottom: 40px;
      }

      @include v.phone-width {
        margin-bottom: 40px;
      }

      img {
        width: 100%;
      }
    }

    .row-right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      padding-left: 20px;

      @include v.pad-width {
        padding-left: 0px;
      }

      @include v.phone-width {
        padding-left: 0px;
        align-items: center;
      }
    }

    .ticket-no {
      width: fit-content;
      background-color: v.$green-bg-color;
      padding: 5px 15px;

      span {
        margin-left: 5px
      }

      @extend %weight600;
    }

    .movie-title {
      width: 80%;

      @include v.phone-width {
        width: 100%;
        text-align: center;
      }

      p {
        color: v.$blue-bg-color;
        line-height: 1.3;
      }

      span {
        color: v.$font-primary;
      }

    }

    .booking-list {
      width: 80%;
      margin-top: 10px;

      @include v.phone-width {
        width: 100%;
      }

      .list {
        display: flex;
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        label {
          width: 90px;
          min-width: 90px;
          color: v.$font-secondary;
        }

      }
    }

    .ticket-state {
      position: absolute;
      right: 0;


      @include v.phone-width {
        position: static;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
      }

      .state {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: v.$font-primary;
        padding: 5px 25px;
        border-radius: 3px;

        @include v.phone-width {
          width: 130px;
          margin-right: 10px;
        }

        &.paid {
          @include v.bg-opacity(v.$blue-bg-color, 0.8)
        }

        &.getQR {
          background-color: v.$blue-bg-color;
        }

        &.refund {
          border: 1px solid v.$primary;
        }

        .material-icons {
          margin-left: 3px;
        }
      }
    }
  }

  .news {
    .event {
      padding: 0 10px;
      margin-bottom: 40px;

      .sub-title {
        margin-top: 20px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  .news-info {
    .actions {
      align-items: center;
      justify-content: flex-start;

      .actions-btn {
        margin-right: 20px;
      }

      .back {
        width: 100%;
        height: fit-content;
        color: v.$yellow-bg-color;
        padding: 10px 30px;
      }
    }

    .row-left {
      padding-right: 40px;

      @include v.pad-width {
        padding-right: 0px;
      }

      @include v.phone-width {
        padding-right: 0px;
      }

      img {
        border-radius: 5px;
      }
    }

    .sub-title {
      @include v.pad-width {
        margin-top: 20px;
      }

      @include v.phone-width {
        margin-top: 20px;

      }
    }

    .hr-line {
      width: 100px;
    }

    .new-content {
      p {
        margin-bottom: 20px;
      }
    }
  }

  .account {
    label {
      display: block;
      color: v.$blue-bg-color;
      margin: 0 0 4px 0;
      @extend %weight600;
    }

    .row-left {
      padding-right: 15px;

      @include v.pad-width {
        padding-right: 0;
      }

      @include v.phone-width {
        padding-right: 0;
      }
    }

    .row-right {
      padding-left: 15px;

      @include v.pad-width {
        padding-left: 0;
      }

      @include v.phone-width {
        padding-left: 0;
      }
    }

    .actionbtn {
      display: inline-flex;
      margin-top: 0;
      align-items: flex-end;
      height: 82px;
      max-height: 82px;
      justify-content: space-between;

      @include v.phone-width {
        flex-direction: column;
      }

      &:last-of-type {
        @include v.phone-width {
          margin-top: 15px;
        }
      }

      button {
        font-weight: normal;
        flex-basis: 49%;
        color: v.$secondary;
        height: 50px;
        padding: 10px 0;
        background-color: v.$blue-bg-color;

        @include v.phone-width {
          margin-bottom: 15px;
        }

        &[type="submit"] {
          flex-basis: 49%;
          background-color: v.$btn-primary;
        }

        span {
          @extend %weight600
        }

      }

      div {
        font-weight: normal;
        flex-basis: 49%;
        background-color: v.$green-bg-color;
        color: v.$font-primary;
        height: 50px;
        padding: 10px 0;
      }

      &.fit-center {
        justify-content: center;

        button {
          padding: 10px 30px;

          &[type="submit"] {
            flex-basis: fit-content;
          }
        }
      }
    }

    select {
      color: #fff;

      &:invalid {
        color: rgba(255, 255, 255, 0.452);
      }

      option {
        &[value="none"] {
          color: rgba(255, 255, 255, 0.452);
        }
      }
    }
  }

  .booking {
    .content-row {
      margin-bottom: 80px;
    }

    .row-left {
      display: flex;
      padding-right: 15px;
      flex-wrap: wrap;

      @include v.pad-width {
        padding-right: 0;
        margin-bottom: 20px;
      }

      @include v.phone-width {
        padding-right: 0;
        margin-bottom: 20px;
      }
    }

    .movie-item {
      &:first-of-type {
        padding-right: 20px;

        @include v.pad-width {
          padding-right: 0;
          margin-bottom: 20px;
        }

        @include v.phone-width {
          padding-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .movie-title {
      p {
        color: v.$blue-bg-color;
      }

      span {
        color: #fff;
        word-break: break-word;
      }
    }

    .up-date {
      color: #fff;
    }

    .list-row {
      max-width: 85%;
    }

    .weektable {
      display: flex;
      justify-content: space-between;

      .booktime {
        cursor: pointer;
        @extend %weight600;

        span {
          font-weight: normal;
          display: block;
        }

        &.active {
          color: v.$yellow-bg-color;
        }
      }
    }

    .cinema {
      position: relative;
      margin: 20px 0;

      &::after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 75%;
        background-color: v.$font-secondary;
        position: absolute;
        right: 0;
        top: 18px;
      }

      .material-icons {
        font-size: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .timetable {
      display: flex;
      text-align: center;
      justify-content: flex-start;
      color: #fff;
      flex-wrap: wrap;

      .time {
        width: 18%;
        padding: 5px 0;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-right: 10px;

        @include v.phone-width {
          width: 22%;
        }

        &.active {
          color: v.$secondary;
          border: 1px solid v.$yellow-bg-color;
          background-color: v.$yellow-bg-color;
        }

        &.disable {
          cursor: not-allowed;
          color: v.$font-secondary;
          border: 1px solid v.$font-secondary;
        }
      }
    }
  }

  .booking-s1 {
    .row-left {
      img {
        width: 80%;
      }
    }

    .row-min {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.247);
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .movie-item {
        width: 100%;
        display: inline-flex;
        align-items: center;

        .movie-title {
          margin-top: 0;
          width: 80%;

        }

        .movie-level {
          margin-bottom: 0;
          height: fit-content;
          margin-right: 20px;
        }
      }

      .movie-detail {
        .material-icons {
          font-size: 35px;
          margin-right: 10px;
          color: v.$red-bg-color;
        }

        .detail {
          margin-bottom: 30px;

          &.disable {
            color: #818181;

            .material-icons {
              color: inherit
            }
          }
        }

      }
    }
    .row-right {
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.247);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 3px dashed rgba(255, 255, 255, 0.062);;
      .summary{
        color: #A18978;
        text-align: right;
        .material-icons {
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
  }
} 

// animate
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(8px);
    opacity: 0.3;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacityR {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes revealBlock {
  100% {
    color: #fff;
  }
}

@keyframes revealingIn {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes revealingOut {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}