@use "variables"as v;
@import "_normalize";
@import "_nav";
@import "_jqdatepicker";

* {
  box-sizing: border-box;
}

body,
html {
  -webkit-text-size-adjust: 100%;
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  position: relative;
  background-color: v.$bg-color;
  line-height: 1.6;
  font-family: Microsoft JhengHei, Arial, sans-serif;
  font-style: normal;

  &.no-scroll {
    overflow: hidden;
  }

  @include v.pc-width {
    font-size: 16.5px;
  }

  @include v.pad-width {
    font-size: 15px;
  }
}

h1,
h2,
p,
h4,
h5,
h6,
span {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}


a {
  text-decoration: none;
  color: v.$font-primary;
  text-rendering: optimizeLegibility;
}

img {
  vertical-align: middle;
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='number'],
select,
option,
input[type="tel"],
input[type="email"],
input[type="date"] {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid v.$font-secondary;
  background: #ebebeb18;
  color: v.$font-primary;
}

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-checkbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background-color: #ccc;
}

.container-checkbox input:checked~.checkmark {
  background-color: v.$primary;
}

.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked~.checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

form {
  width: 100%;
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3315 0.284188C11.5154 0.102129 11.7637 0 12.0224 0C12.2812 0 12.5295 0.102129 12.7134 0.284188C12.8041 0.373589 12.8762 0.480154 12.9255 0.597679C12.9747 0.715204 13 0.841342 13 0.968754C13 1.09617 12.9747 1.2223 12.9255 1.33983C12.8762 1.45735 12.8041 1.56392 12.7134 1.65332L7.19163 7.06485C7.00734 7.24666 6.75888 7.34859 6.5 7.34859C6.24112 7.34859 5.99266 7.24666 5.80837 7.06485L0.286631 1.65332C0.195851 1.56392 0.123758 1.45735 0.0745498 1.33983C0.0253414 1.2223 0 1.09617 0 0.968754C0 0.841342 0.0253414 0.715204 0.0745498 0.597679C0.123758 0.480154 0.195851 0.373589 0.286631 0.284188C0.470502 0.102129 0.718801 0 0.977555 0C1.23631 0 1.48461 0.102129 1.66848 0.284188L6.50212 4.72221L11.3315 0.284188Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px;
  width: 100%;
  color: v.$font-primary;

  option {
    background: #3a3a3a;
    color: v.$font-primary;
    border: 1px solid v.$font-secondary;

    :hover {
      background-color: transparent;
    }
  }

}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  box-shadow: 0 0 2px 2px #81818156;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  box-shadow: 0 0 2px 2px #81818156;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* other share */
:focus {
  outline-width: 0px;
}

:-moz-focusring {
  outline: 2px dotted #81818156;
}

input:focus,
select:focus {
  box-shadow: 0 0 2px 2px #81818156;
}

input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0px 100px #3a3a3a inset;
  -webkit-text-fill-color: #Fff;
}

::placeholder {
  color: #ffffff3d;
}

.hide {
  display: none;
}

.s-font {
  font-size: 0.9rem;
}

.xs-font {
  font-size: 0.8rem;
}

.l-font {
  font-size: 1.2rem;
}

.material-icons {
  vertical-align: middle;
}

.hr-line {
  width: 50px;
  margin-left: 0;
  height: 1px;
  background-color: v.$primary;
  border: none;
  margin: 1.4em 0;
}

.mul-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.mul-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 電影分級表背景色
.y12 {
  background-color: v.$yellow-bg-color;
}

.y15 {
  background-color: v.$orange-bg-color;
}

.R {
  background-color: v.$red-bg-color;
}

.yp {
  background-color: v.$blue-bg-color;
}

.yn {
  background-color: v.$green-bg-color;
}

/* share style */
.section-box {
  padding: 0 15px;

  @include v.phone-width {
    padding: 0 10px;
  }
}

.main-title {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;

  div {
    margin: 0;

    &:nth-of-type(1) {
      @extend %weight300;

      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: v.$primary;
        margin-right: 10px;
        margin-bottom: 3px;
      }
    }

    &:nth-of-type(2) {
      color: v.$primary;
      margin-left: 15px;
      @extend %weight600;
    }
  }
}

.primary-title {
  margin-bottom: 20px;

  &:after {
    content: "|";
    position: relative;
    top: -2px;
    margin-left: 10px;
  }
}

.sub-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
  @extend %weight600;
}

.movie-item {

  .up-date {
    margin: 5px 0 30px 0;
    color: v.$primary;
  }

  .movie-level {
    margin-top: 0;
  }

  .book-btn {
    display: inline-block;
    padding: 8px 25px;
    background-color: #5a98c0;
    border-radius: 5px;
    margin-bottom: 30px;
    color: v.$font-primary;
    cursor: pointer;
    @extend %weight400;

    .material-icons {
      margin-right: 10px;
    }
  }

  .list-item {
    >div {
      margin-bottom: 10px;
      @extend %weight600;

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        font-weight: normal;
        border-left: 1px solid #fff;
        padding-left: 10px;
        margin-left: 10px;
        display: inline-block;
      }
    }

    .list-row {
      width: 100%;
      display: -webkit-inline-box;

      div {
        max-width: 93%;

        @include v.mini-width() {
          max-width: 90%;
        }
      }
    }
  }
}

.movie-title {
  margin-top: 10px;
  @extend %weight600;
  width: 100%;

  span {
    @extend %weight300;
    display: block;
    color: v.$font-secondary;
    line-height: 1.3;
  }
}

.movie-level {
  margin: 10px 0;
  padding: 2px 10px;
  display: inline-block;
  color: v.$secondary;
  text-align: center;
  @extend %weight600;

}

.content-row {
  display: flex;
  flex-wrap: wrap;

  .row {
    width: 100%;
    margin-bottom: 15px;
  }

  .icon-row {
    position: relative;

    input {
      padding-left: 60px;
      color: v.$font-primary;
    }

    .material-icons {
      position: absolute;
      left: 15px;
      top: 40px;
      color: v.$bg-color;
      font-size: 30px;
      cursor: pointer;

      &.pwd-on {
        color: #C7BA9B;
      }
    }
  }
}

.row-1 {
  @include v.row-width(10%);

  @include v.pad-width {
    width: 50%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-2 {
  @include v.row-width(20%);

  @include v.pad-width {
    width: 33.33%;
  }

  @include v.phone-width {
    width: 50%;
  }

  @include v.mini-width {
    width: 100%;
  }
}

.row-3 {
  @include v.row-width(30%);

  @include v.pad-width {
    width: 50%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-3-1 {
  @include v.row-width(33.33%);

  @include v.pad-width {
    width: 50%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-4 {
  @include v.row-width(40%);

  @include v.pad-width {
    width: 100%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-7 {
  @include v.row-width(70%);

  @include v.pad-width {
    width: 100%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-6 {
  @include v.row-width(60%);

  @include v.pad-width {
    width: 100%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-5 {
  @include v.row-width(50%);

  @include v.pad-width {
    width: 100%;
  }

  @include v.phone-width {
    width: 100%;
  }
}

.row-8 {
  @include v.row-width(80%);

  @include v.pad-width {
    width: 100%;
  }

  @include v.phone-width {
    width: 100%;
  }
}


.row-9 {
  @include v.row-width(90%);
}

.section {
  color: v.$font-primary;
  max-width: v.$max-width;
  margin: 50px auto 50px auto;

  &:last-of-type {
    margin-bottom: 150px;

    @include v.pad-width {
      margin-bottom: 90px;
    }

    @include v.phone-width {
      margin-bottom: 50px;
    }
  }

  .content {
    margin-bottom: 80px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .actions {
    display: inline-flex;
    margin: 30px 0;
    width: 100%;
    justify-content: center;

    @include v.pad-width {
      margin-bottom: 20px;

    }

    @include v.phone-width {
      margin-bottom: 20px;
    }

    .actions-btn {
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid v.$yellow-bg-color;
      color: v.$yellow-bg-color;
      padding: 10px;
      text-align: center;
      margin-right: 20px;
      width: 12em;
      justify-content: center;

      @include v.pad-width {
        width: 50%;
        margin-right: 10px;
      }

      @include v.phone-width {
        width: 50%;
        margin-right: 10px;
      }

      &:last-of-type {
        margin-right: 0
      }

      &.active {
        @extend %weight600;
        color: v.$secondary;
        background-color: v.$yellow-bg-color;
      }
    }
  }

  .attention {
    border: 1px solid #818181;
    border-radius: 10px;
    padding: 20px 30px;
    height: fit-content;

    @include v.phone-width {
      padding: 10px;
    }

    .note {
      margin-bottom: 10px;
      @extend %weight600;

      .material-icons {
        font-size: 1.5rem;
        margin-right: 5px;
      }
    }

    ul {
      margin-left: 40px;
    }

    li {
      list-style: decimal-leading-zero;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

.actionbtn {
  text-align: center;
  margin-top: 80px;

  @include v.phone-width {
    margin-top: 20px;
  }

  button,
  div {
    width: 100%;
    padding: 10px 30px;
    color: #fff;
    @extend %weight600;
    border-radius: 5px;
    cursor: pointer;
  }
}

footer {
  background-color: #0f0f0f;
  color: v.$font-primary;

  img {
    flex: 0;
  }

  &>div {
    max-width: v.$max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;

    @include v.pad-width {
      flex-direction: column;
      padding: 40px 15px;
    }

    @include v.phone-width {
      flex-direction: column;
      padding: 40px 15px;
    }

    div {
      text-align: left;

      @include v.pad-width {
        text-align: center;
      }

      @include v.phone-width {
        text-align: center;
      }
    }

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #c7c7c7;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;

      img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
      }
    }
  }
}

/*modal*/
.modal {
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
}

/*opening it*/
.modal:target {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 10%;
  width: 570px;
  border-radius: 10px;
  color: black;
  background: #EBEBEB;

  @include v.pad-width {
    width: 85%;
  }

  @include v.phone-width {
    width: 90%;
    top: 20px;
  }

  h2 {
    background-color: v.$yellow-bg-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
    @extend %weight600;
  }

  label {
    display: block;
    margin: 0 0 4px 0;
    @extend %weight600;
  }

  input {
    background: #e2e2e2;
    color: v.$secondary;
    padding: 0 10px;
    height: 45px;

    @include v.phone-width {
      height: 35px;
    }

    &#confirmrule,
    &#lockpwd {
      height: auto;
    }
  }


  .modal-info {
    padding: 25px 4vw;

    .row:not(:last-of-type) {
      margin-bottom: 15px;

      .forgetpwd {
        font-size: .5em;
        color: v.$font-secondary;
        @extend %weight300;
        letter-spacing: 0px;
      }

      .lockpwd {
        @extend %weight300;
        margin-top: 5px;
      }
    }

    .actionbtn {
      button {
        background-color: #006EBD;
        border: 1px solid #125578;
      }

      a {
        color: v.$primary;
      }

    }
  }

  ::placeholder {
    color: v.$font-secondary;
  }
}

/*closing*/
.close-modal {
  position: absolute;
  top: -0.2em;
  right: 0.4em;
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

#login {
  .modal-content {
    @include v.under-pad-width {
      overflow-y: auto
    }

    @include v.under-pad-width {}
  }

  .nobr {
    display: inline-block;
    @extend %weight400;
  }

  label[for="loginpassword"] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .material-icons {
      font-size: 15px;
    }
  }

  .safeverify {
    >div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      input {
        width: 50%;
        max-width: 50%;
      }

      .imgsafe {
        display: flex;
        align-items: flex-end;

        a {
          background-color: v.$bg-color;
          width: 30px;
          height: 26px;
          text-align: center;
          border-radius: 100%;
          margin-left: 5px;
          line-height: 21px;

          .material-icons {
            font-size: 16px;
          }

        }
      }
    }
  }

}

#regist {
  .modal-content {
    @include v.under-pad-width {
      overflow-y: auto;
    }

    @include v.mini-height {
      height: 80%;
    }
  }

  label[for="confirmrule"] {
    @extend %weight300;
  }

  .required-icon {
    color: v.$primary;
  }
}

.gotop {
  color: v.$font-primary;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid v.$font-primary;
  border-radius: 100%;
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  visibility: hidden;
  z-index: 1;
  transition: all 0.4s;
  opacity: 0;
  @include v.bg-opacity(v.$secondary, 0.5);

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// 步驟條
.step-bar {
  width: 100%;
  margin: 80px 0;

  @include v.phone-width {
    margin: 40px 0;
  }

  .progress {
    display: flex;
    justify-content: space-around;
    counter-reset: step;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 20%;
      position: relative;
      z-index: 0;
      text-align: center;

      @include v.phone-width {
        font-size: 0.9em;
      }

      &::before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #818181;
        border-radius: 100%;
        text-align: center;
        background-color: #282828;
        margin-bottom: 10px;
        color: #818181;

        @include v.phone-width {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 65%;
        height: 1px;
        background-color: #818181;
        top: 16px;
        right: -33%;
        z-index: -1;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      &.active {
        color: v.$yellow-bg-color;
        @extend %weight600;

        &::before {
          border-color: v.$yellow-bg-color;
          background-color: v.$yellow-bg-color;
          color: #000;
        }

        &:after {
          background-color: v.$yellow-bg-color;
        }
      }

      &.finished {
        color: v.$yellow-bg-color;
        @extend %weight600;

        &::before {
          content: '✓';
          border-color: v.$yellow-bg-color;
          background-color: v.$yellow-bg-color;
          color: #000;
        }

        &:after {
          background-color: v.$yellow-bg-color;
        }
      }
    }
  }
}

//for youtube rwd
@include v.pad-width {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include v.phone-width {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }


  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//google map RWD
.iframe-rwd {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}