@use "variables" as v;

#landing {
  //position: relative; //for swiper
  width: 100%;
  z-index: 10;
  position: fixed;

  .landing-page {
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(https://picsum.photos/1920/500);
    background-repeat: no-repeat;
    background-size: cover;
    animation: blur 2s ease-out;
  }

  h1 { 
    display: block;
    color: v.$white;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
      display: block;
      text-align: right;
    }
  }

  .welcome {
    width: 224px;
    height: 224px;
    cursor: pointer;
    position: absolute;
    bottom: 150px;
    left: 15vw;

    .text-round {
      width: 100%;
      height: 100%;
      background: url(../image/svg/welcome-round.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: rotate 10s infinite linear;
    }

    .mouse {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 34px;
      height: 53px;
      background: url(../image/svg/mouse.svg);
      background-repeat: no-repeat;
      background-size: contain;

      .scroller {
        width: 3px;
        height: 8px;
        border: 1px solid v.$font-primary;
        border-radius: 25%;
        position: absolute;
        top: 13px;
        left: 14px;
        animation: scroll 1s ease-in infinite;
      }
    }
  }
}

.start-scroll {
  #landing {
    .landing-page {
      height: 0;
      transition: height 1s cubic-bezier(0.76, -0.24, 0.55, 0.91);
      transform-origin: top center;
    }
    h1,
    .welcome {
      display: none;
    }
  }
  nav {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.76, -0.24, 0.55, 0.91) 0.8s;
  }
}

.showing-list {
  text-align: center;
  .poster{
    padding-right: 30px;
    img{border-radius: 10px;width: 100%;}
  }
  .movie-title{
    margin-top: 10px;
    font-weight: bold;
    span{
      font-weight: 500;
      display: block;
      margin-top: 5px;
    }
  }
  .movie-level{
    margin: 15px 0;
    padding: 5px 10px;
    display: inline-block;
    color: #000;
  }
  .y12{background-color: yellow;}
  .y6{background-color: rgb(35, 162, 247);}
}

.onlinebook{
  .select-box{
    width: 100%;
    select{
      width: 90%;
      height: 70px;
      margin-bottom: 40px;
      border-radius: 10px;
      background-color: transparent;
      color: v.$white;
      option{
        background-color: #000;
        color: v.$white;
      }
    }
  }
}
.lastestnew{
  .news-box{
    &>a{
      display: flex;
      margin-bottom: 20px;
      .new-info{
        margin-left: 20px;
        text-align: left;
        hr{width: 60px;margin-left: 0; height: 1px;
        background-color: v.$primary;
        border: none;}
      }
    }
  }

}


//animate
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  100% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}
