<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/global.min.css">
  <link rel="stylesheet" href="css/index.min.css">
  <link rel="stylesheet" href="css/swiper-bundle.min.css">

  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;

    }

    .swiper-slide img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: #ccc;
    }
  </style>
</head>

<body>
  <nav id="nav">
    <input type="checkbox" id="toggle" class="input-toggler" />
    <div class="sidebar-overlay"></div>
    <label for="toggle" class="menu-toggler">
      <span class="menu-toggler-line"></span>
      <span class="menu-toggler-line"></span>
      <span class="menu-toggler-line"></span>
    </label>
    <div class="sidebar">
      <a class="nav-brand" href="#">Navbar</a>
      <ul class="menu">
        <li><a class="menu-link" href="#">線上訂票</a></li>
        <li>
          <a class="menu-link" href="#">電影介紹</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">最新消息</a></li>
            <li><a class="dropdown-item" href="#">業務專區</a></li>
            <li><a class="dropdown-item" href="#">關於影城</a></li>
          </ul>
        </li>
        <li><a class="menu-link" href="#">最新消息</a></li>
        <li><a class="menu-link" href="#">業務專區</a></li>
        <li><a class="menu-link" href="#">關於影城</a></li>
      </ul>
      <div class="user-account">
        <span v-if="isLogin">HELLO! Yick Shun</span>
        <div v-if="!isLogin" @click="login">
          <a href="">會員登入</a>
        </div>
        <div v-if="!isLogin" @click="login">
          <a href="">加入會員</a>
        </div>
        <div class="account-sub">
          <a href="">訂票查詢與取消</a>
          <a href="">編輯會員系統</a>
          <a href="">會員優惠PLUS</a>
        </div>
      </div>
    </div>
  </nav>
  <section id="landing" class="panel">
    <div class="landing-page">
      <h1>
        <div data-aos="fade-up" data-aos-duration="1200">BROADWAY<span data-aos="fade-up" data-aos-duration="1200"
            data-aos-delay="800">CINEMAS</span></div>
      </h1>
      <div class="welcome" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="1500">
        <div class="text-round"></div>
        <div class="mouse">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="">
    <div class="">
      <div class="">
        
      </div>
      <div class="">
      <div class="swiper s-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="https://fakeimg.pl/1920x500/"></div>
          <div class="swiper-slide"><img src="https://fakeimg.pl/1920x500/"></div>
          <div class="swiper-slide"><img src="https://fakeimg.pl/1920x500/"></div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
        <div>
          123456789
        </div>
                   
      </div>
     
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/swiper-bundle.min.js"></script>
  <script>
    const slideSwiper = new Swiper('.s-swiper', {
      lazy: true,
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        992: {
          slidesPerView: "auto",
          spaceBetween: 10,
        }
      },
    });
  </script>
  <script>
    const  verticalSwiper = new Swiper(".v-swiper", {
      direction: "vertical",
      slidesPerView: 1,
      mousewheel: true,
      spaceBetween: 0,
      freeMode: {
        enabled: true,
        sticky:true,
        minimumVelocity:1,
        momentumBounce:false,
        momentumBounceRatio:5,
        momentumRatio:10
      },
    });
  </script>
  <script src="js/index.js"></script>

</body>

</html>